In [1]:
user = {
    "name" : "Daniel", 
    "surname" : "Smith", 
    "age" : 35
}
for attribute in user :   #Sadece keyler gelir. 
    print(attribute)

name
surname
age

In [1]:
user = {
    "name" : "Daniel",   # for döngüleri iterable'ın uzunluğu kadar iterate (tekrar eder) eder. 
    "surname" : "Smith", 
    "age" : 35
}
for i in user.values() :   
    print(i, end =" ")

Daniel Smith 35

In [2]:
for i in "abc"  :  # Buradaki i değişkenini illa ki kod bloğumuz içinde kullanmak zorunda değiliz. "abc" string ifadesi iterable olduğu için ve  
    print("hello")  # uzunluğu da 3 olduğu için 3 kere iterate eder.

hello
hello
hello

In [3]:
user = {
    "name" : "Daniel",    
    "surname" : "Smith",  # for dan sonra 2 ve daha fazla değişken de kullanabiliriz. 
    "age" : 35
}  
for key, value in user.items() :   # HATIRLATMA! user items sayesinde (name, Daniel), (surname, Smith), (age, 35) tuple yapıyoruz. 
    print(key, ":",  value)

name : Daniel
surname : Smith
age : 35

In [8]:
test = [(1, 2), (3, 4), (5, 6)]
for i, j in test : 
    print(i, j)

1 2
3 4
5 6

In [2]:
test2 = [(1, 2, 11), (3, 4, 22), (5, 6, 33)]
for i, j, t in test2 : 
    print(i, j, t)

1 2 11
3 4 22
5 6 33

In [3]:
test2 = [(1, 2, 11), (3, 4, 22), (5, 6, 33)]
for i in test2 : 
    print(i)

(1, 2, 11)
(3, 4, 22)
(5, 6, 33)

In [10]:
times = int(input("How many times should I say 'I love You'"))
for i in range(times) :  # Burada ki range fonksiyonu ile sayı dizisi üretiyoruz ve itarable'a dönüştürüyoruz. Yani range fonksiyonu iterable dır. 
    print("I love you")

I love you
I love you
I love you
I love you
I love you

In [18]:
number = input("Please enter a number between 1 and 10")

for i in range(11) :  # Eğer içinde sadece bir adet sayı var ise zaten 0'dan başlayıp o sayıya kadar demek. 
    print(number, "x", i, "=", (int(number)*i))

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
range(start, stop, step)

In [2]:
print(* range(10,1,-1))

10 9 8 7 6 5 4 3 2

In [5]:
print(* range(1, 10))

1 2 3 4 5 6 7 8 9

In [6]:
print(* "joseph")

j o s e p h

In [9]:
for i in range(1,10) :
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [10]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
tuple(range(11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [12]:
set(range(11))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [13]:
print(* range(11))

0 1 2 3 4 5 6 7 8 9 10

In [14]:
print(range(11))  # Bizim doğrudan range object'ini çıktı almaya çalışmamız söz konusu değil.

range(0, 11)

In [16]:
print(*range(5, 25, 2))

5 7 9 11 13 15 17 19 21 23

In [17]:
text = ["one", "two", "three", "four", "five"]
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers) :  # Her bir elemanı indeks numaralarına göre karşılıklı olarak eşleştirir. 
    print(x, ":", y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [1]:
text = ["one", "two", "three", "four", "five"]
numbers = [1, 2, 3, 4, 5]
zipped = zip(text, numbers)
zipped  # Memory'deki lokasyonu, adresi gösterir. Bunu görsel olarak alabilmemiz için collection functions, * ya da for döngülerini kullanabiliriz.

In [2]:
print(* zipped)

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [3]:
list(zipped)  # Boş çıktı vermesi zip fonksiyonuna özeldir, bir üstte çalıştığı için içi boş çıktı. İçini yeniden doldurup yeniden çalıştırırsak olur.

[]

In [6]:
zipped = zip(text, numbers)  # Yeniden doldurduk ve çalıştırdık. 
list(zipped)

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [7]:
zipped = zip(text, numbers)
for x, y in zipped :
    print(x, ":", y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [8]:
zipped = zip(text, numbers)  # ÖNEMLİ!!! zip fonksiyonunu dictionary için kullanabiliriz. Dict metodunda da çift olarak yapıyoruz çünkü. 
dict(zipped)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

zip fonksiyonu 2, 3, 4 ... gibi istediği kadar eleman alabilir ve eşleştirebilir.

In [9]:
a = (1, 2, 3)  # Dikkat etmemiz gereken bir durum. Eleman sayıları birbiri ile uyuşmuyor ise uyuştuğu kadarını da çıktı verir. 3 açıkta kaldı eşi yok. 
b = (1, 4)
print(* zip(a, b))

(1, 1) (2, 4)

In [11]:
a = (1, 2, 3)   # Biri list diğeri tuple bile olsa yine de eşleştirir ve () içinde sonuç çıkarır. 
b = [1, 4, 9]
print(* zip(a, b))

(1, 1) (2, 4) (3, 9)

In [13]:
a = {1, 2, 3}   # Biri list diğeri tuple ya da her ikisi de farklı da olsa yine de eşleştirir ve () içinde sonuç çıkarır. 
b = [1, 4, 9]
print(* zip(a, b))

(1, 1) (2, 4) (3, 9)

In [12]:
# Kendi çözümüm. Çok dolandırdım ama mantık aynı. 

numbers = list(range(10))
numbers_half_len = len(numbers) / 2
empty_list_even = []
empty_list_odd = []
for i in range(10) :
    if numbers[i] % 2 == 0 : 
        empty_list_even.append(i)
        if len(empty_list_even) == numbers_half_len :
            print("evens:", empty_list_even)
        
    else :
        empty_list_odd.append(i)
        if len(empty_list_odd) == numbers_half_len :
            print("odds:", empty_list_odd)

evens: [0, 2, 4, 6, 8]
odds: [1, 3, 5, 7, 9]

In [13]:
# Hocanın çözümü 

evens = []
odds = []

for i in range(10) :
    if i % 2 == 0 :
        evens.append(i)
    else : 
        odds.append(i)
print("evens:", evens)
print("odds:", odds)

evens: [0, 2, 4, 6, 8]
odds: [1, 3, 5, 7, 9]

In [16]:
# Kendi çözümüm

example_list = [11, 2, 24, 61, 48, 33, 3]
evens = []
odds = []

for i in example_list : 
    if i % 2 == 0 :
        evens.append(i)
    else : 
        odds.append(i)
print("The number of even numbers :", len(evens))
print("The number of odd numbers :", len(odds))

The number of even numbers : 3
The number of odd numbers : 4

In [18]:
# Hocanın çözümü (saydırarak yaptı)

example_list = [11, 2, 24, 61, 48, 33, 3]
evens = 0
odds = 0

for i in example_list : 
    if i % 2 == 0 :
        evens += 1  # Bu saydırma metodudur, eğer bu şartı sağlıyor ise her seferinde 1 arttır demek. O yüzden yukarıda 0 değerini girdik. 
    else : 
        odds += 1
print("The number of even numbers :", evens)
print("The number of odd numbers :", odds)

The number of even numbers : 3
The number of odd numbers : 4

In [25]:
# Kendi çözümüm

empty_list = []
for i in range(1, 75) :
    empty_list.append(i)
sum(empty_list)

2775

In [29]:
# Hocanın çözümü 
sum_num = 0
for i in range(1,75) : 
    sum_num += i
print(sum_num)

2775

Nested for Loop

In [ ]:
for variable1 in iterable1 : 
    for variable2 in iterable2 :
        body

In [32]:
who = ["I am", "You are"]
mood = ["happy", "confident"]
for i in who :
    for ii in mood : 
        print(i, ii)

I am happy
I am confident
You are happy
You are confident

In [33]:
names = ["susan", "tom", "edward"]
mood = ["happy", "sad"]
for i in names :
    for ii in mood : 
        print(i, "is", ii)  # print(f"{i} is {ii}") ya da print("{} is {}".format(i, ii)) olabilirdi çıktı için.

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [36]:
# tuple kullanarak atama yapabiliriz 

tuple(range(1, 8))

(1, 2, 3, 4, 5, 6, 7)

In [39]:
mon, tue, wed, thu, fri, sat, sun = tuple(range(1,8))

In [40]:
mon

1

In [41]:
fri

5

In [42]:
# İki listenin toplanması. Bunu çok kullanırız. İçlerindeki verinin değeri farklı olsa da oluyor. 

[1, 2, 4] + ["ali", "veli"]

[1, 2, 4, 'ali', 'veli']

In [43]:
a, b = (10, 20, 30, 40)  # variable ile value sayıları uyuşmadığı için haya verir. Bunu hatasız bir şekilde yapabilmemiz için.

ValueError: too many values to unpack (expected 2)

In [46]:
a, _, b, _ = (10, 20, 30, 40)  # Bu şekilde yaparak istediğimiz noktaya atamamızı yaptık. 
print(a, b)

10 30

In [47]:
x, y, z = (11, 22, 33, 44, 55)

ValueError: too many values to unpack (expected 3)

In [49]:
x, y, *z = (11, 22, 33, 44, 55)  # z'nin başındaki yıldız sayesinde geri kalan son 3 değeri de z'ye atadık. 
print(x, y, z)

11 22 [33, 44, 55]

In [51]:
x, y, *_ = (11, 22, 33, 44, 55)
print(x, y)

11 22

In [53]:
x, y, *z, t = (11, 22, 33, 44, 55, 66, 77)
print(x, y, z, t, sep="\n")

11
22
[33, 44, 55, 66]
77

In [55]:
x, y, *_, t = (11, 22, 33, 44, 55, 66, 77)
print(x, y, t, sep="\n")

11
22
77