Arithmetic Operations

In [1]:
değişken = 10
değişken

10

In [2]:
değişken = değişken + 1
değişken

11

In [3]:
değişken = değişken + 1
değişken

12

In [4]:
değişken2 = 5
değişken2 = değişken2 * 2
değişken2

10

In [6]:
değişken2 = değişken2 * 2
değişken2

20

değişken = değişken + 1  # Bu ve aşağıdaki aynıdır. Aşağıda yazan ifade daha kısa halidir.  
değişken += 1

In [8]:
değişken = 12
değişken += 1 
değişken

13

In [10]:
değişken = 10
değişken *= 2
değişken

20

In [11]:
değişken2 *= 2  # Artık yeni değer olarak değişken değerini 20 olarak kabul eder. 
değişken2

40

In [12]:
a = 8
b = 2
a += b
a

10

In [13]:
a *= b
a

20

İşlem önceliğinde; 
1. parentheses ()
2. power ** 
3. unary minus: -3
4. multiplication and division: *, /
5. addition and subtraction: +, -

In [15]:
a = (1+3) ** (2 ** (1 * 2 / 2) / 2)  # Bölme işleminin olduğu yerde float olarak devam eder. 
print(a)

4.0

In [21]:
a = 3
b = 4
c = (a ** 2 + b ** 2) ** (0.5)  # 0.5 değeri aynı zamanda 1/2 değeri olduğu için yani bölme işlemi uygulandığından ötürü yine sonucumuz float dır. 
c

5.0

In [25]:
#calculate the hypotenuse of a triangle (c = ?)
a = 3
b = 4
c = (a ** 2 + b ** 2) ** 0.5
int(c)

5

Operations with print() function

In [28]:
number = 2021
text = "we have reached"
print(text, number)

we have reached 2021

In [29]:
print("ali")
print("deli", "veli")
print("selvi", "baharat", 44)
print(c, False, "ahmet", 3.14)

ali
deli veli
selvi baharat 44
5.0 False ahmet 3.14

In [31]:
print(c, False, "ahmet", 3.14, sep = "-")  # sep = " " fonksiyonu sayesinde çift tırnak arasına hangi değeri koyarsak onu değerlerimizin arasına atar.

5.0-False-ahmet-3.14

In [32]:
print(c, False, "ahmet", 3.14, sep = "*")

5.0*False*ahmet*3.14

In [36]:
print("ali", end = " ")  # end = " " ifadesi, yazdığımız en son değerden sonra ne koyacağımızı ve bir alt satır değerinin de onun devamında gelmesini sağlar. 
print("veli", "ayşe")

ali veli ayşe

In [34]:
print("ali")  # Normal yazımda OUTPUT aşağıdaki gibidir. 
print("veli", "ayşe")

ali
veli ayşe

In [38]:
print(c, False, "ahmet", 3.14, end = "-")
print("ayşe")

5.0 False ahmet 3.14-ayşe

In [40]:
text1 = "I bought"
text2 = "kg. of apple this morning"
amount = 6 
text3 = text1 + " " + str(amount) + " " + text2  # I bought 6 kg. of apple this morning
print(text1, amount, text2)  # I bought 6 kg. of apple this morning
print("I bought", 6, "kg. of apple this morning")  # I bought 6 kg. of apple this morning
print("I bought " + "6 " + "kg. of apple this morning")  # I bought 6 kg. of apple this morning
print(text3)

I bought 6 kg. of apple this morning
I bought 6 kg. of apple this morning
I bought 6 kg. of apple this morning
I bought 6 kg. of apple this morning

Escape Sequences (review)

Python ignores any character which comes immediately after \

Bu konu stringlerin için de \ işaretinin kullanılması. Özel karakterlerin önüne gelir ise onu normalize eder ya da belirli harflerin önüne gelirse de farklı bir özellik kazanır. \n, \t, b\ . Ya shirli hale getiriyor ya da sihirli olanı sihirsiz hale getiriyor. 
\n : new line
\t : tab mark 
\b : backspace

In [41]:
print('Ahmet'in ceketi')  # tek tırnaklar uyuşmadığı için hata veriyor. Bu kapsamda orta kısımdaki tek tırnağın özelliğini kaldırıyoruz aşağıda.

SyntaxError: unterminated string literal (detected at line 1) (1447621355.py, line 1)

In [42]:
print('Ahmet\'in ceketi')  # Tek tırnağın önüne \ koyduğumuzda artık özel bir karakter olmaktan çıkıyor ve hata vermeden yazdırıyor. Normal bir tırnak oldu.

Ahmet'in ceketi

In [43]:
print('Ahmet\in ceketi')  # önündeki i harfi özel bir karakter olmadığı için normal string olarak yazdırdı.

Ahmet\in ceketi

In [44]:
print('Ayla\nın çantası')  # n özel bir karakter olduğu için \n olduğunda new line olarak sonrasını aşağıya atıyor.

Ayla
ın çantası

In [45]:
print('Ayla\\nın çantası')  # \n özel karakterinin de önünde \ koyarsak, artık \ karakterini işlem yapamaz hale getirir, etkisizleştirir.

Ayla\nın çantası

In [46]:
print('C:\\north pole\noise_penguins.txt')
print('----------')
print('first', 'second', 'third', sep = '\t')

C:\north pole
oise_penguins.txt
----------
first	second	third

In [49]:
print('we are', '\boosting', 'our', '\brotherhood')  # we areoostig ourrotherhood
print('it\'s essential to learn Python\'s libraries in IT world')  # it's essential to learn Python's libraries in IT world

we areoosting ourrotherhood
it's essential to learn Python's libraries in IT world

Boolean Operations

1- and : Eğer hepsi True ise bu ifadenin sonucu en SON elemandır. Bir tane bile False var ise ilk False'dur.

In [58]:
bool("")  # Boş bir string False verir.

False

In [52]:
bool([])  # Boş bir liste False verir.

False

In [57]:
bool(())  # Boş bir tuple False verir.

False

In [54]:
bool({})  # Boş bir dictionary False verir.

False

In [56]:
bool(0)  # Boolean içindeki integer 0' da False verir.

False

In [55]:
bool(None)  # None ifadesi Falsy'dir.

False

Yukarıda da yer aldığı gibi boş string, boş liste, boş tuple, boş dictionary ve bool(0) ile bool(None) dışında geri kalan her şey "True" verir.

In [53]:
bool("0")  # Dolu bir string True verir.

True

In [59]:
bool(" ")  # Bu boş bir string değildir, arada boşluk olduğu için bunu dolu bir string olarak kabul eder ve True verir.

True

In [61]:
0 and None and 1  # Arada "and" olduğu için tek tek elemanların Truty ya da Falsy olduklarına bakarız ve 0 Falsy olduğu için ilk Falsy bizim sonucumuzdur
# Yukarıdaki ifade aslında şu şekilde de yazılabilir. False and False and True

0

2- or : Eğer hepsi False ise bu ifadenin sonucu en SON elemandır. Bir tane bile True var ise ilk True'dur. Yani and deki durumun tam tersidir.

In [62]:
True or True or True  # or ifadesinde ilk True hangisi ise sonuç o dur.

True

In [63]:
False or False or False # Hepsi False olur ise en sonuncu sonuçtur.

False

In [65]:
0 or None or ""  # Buradaki ifadelerin hepsi Falsy'dir ve hepsi Falsy olur ise sonuçta en sonuncu ifadedir.

''

In [66]:
0 or 1 or 2 or ""  # Falsy or Truty or Truty or Falsy olduğu için bir tane bile Truty var ise ilk Truty'dir.

1

3- not : Kendisinden sonra geleni tersine çevirir. True ise False, False ise True'a çevirir. Her zaman "True" ya da "False" sonucu verir. not'ın önüne koyacağımız bir value olması gerekir. ("Not 0" gibi)

In [67]:
not 1  # 1 değeri normalde Truty olmasına rağmen

False

In [68]:
not False

True

In [69]:
not 0

True

İşlem sırasına soktuğumuzda; 
1. not
2. and
3. or

In [70]:
bool_var = False and not True
print(bool_var)

False

In [71]:
True and False or not False or False  # True and False or True or False - False or True or False - True

True

Truth Values of Logic Statements 
- Falsy values in Python 
  None
  Zero : 0, 0.0, 0j
  Empty Seq. and collections : "", [], {}
  Any remaining value : True

In [75]:
print(2 and 3)

3

In [76]:
print(1 and 0)

0

In [77]:
print(2 and "hello world")
print([] and "be happy!")
print(None and ())

hello world
[]
None

In [78]:
print(2 or 3)
print(None or 1)

2
1

In [79]:
print(2 or "hello world")
print([] or "be happy!")
print(None or ())
print({} or 0)
print({0} or False)

2
be happy!
()
0
{0}

The Strenght of the String
- Indexing & Slicing Strings

In [81]:
string_karakterler = "&% , ali deli veli-1234"  # Bu string ifade içindeki her bir karakter bir değer olmakta (boşluk da dahil)
string_karakterler

'&% , ali deli veli-1234'

In [82]:
string_karakterler[0]  # soldan sağa doğru ilerleyecek şekilde köşeli parantez içinde yazdığım sayıya göre sting ifadenin tüm elemanlarına ulaşabiliyorum.

'&'

In [84]:
"clarus"[5]  # 5. index numarası bizlere s yi verir.

's'

In [85]:
okul = "clarus"  
okul[5]

's'

In [87]:
okul[2:4]  # 2. indexten başla ve :'den sonraki değerin bir eksiğine kadar git demek. Yani köşeli parantez içindeki ilk değer start, 2. değer ise stop ama 1 eksiği.

'ar'

In [88]:
okul[:3]  # En baştan başla ve stop un bir eksiğine kadar git demek.

'cla'

Eğer bir string ifadeden tek bir ifade çekmek istiyorsak tek bir tane sayı yazacağız köşeli parantez içine ama birden çok sayı yazacaksak o zaman aralarında : olacak şekilde 2 sayı belirteceğiz. step de aksi belirtilmediği sürece yönümüz soldan sağa doğrudur. 

[start:stop:step]

In [90]:
okul[:]  # En baştan başla ve en sona kadar git demektir. O yüzden tüm string ifadeyi yazdırır.

'clarus'