In [1]:
a = 1
print(-a)

-1

In [2]:
b = -11 
print(-b)

11

In [3]:
a = 3
b = 4
print("The sum of {} + {} is : {}".format(a, b, a+b))

The sum of 3 + 4 is : 7

In [7]:
a = 3
b = 4
print("The sum of {} x {} is : {}".format(a, b, a*b))

The sum of 3 x 4 is : 12

In [8]:
a = 2
b = 3
print("The power of {} to {} is : {}".format(b, a, a**b))  # The power of 3 to 2, 2**3 demek.

The power of 3 to 2 is : 8

In [9]:
text = "{:.2f}, {:.3f}, {:.4f}".format(3.1463, 5.367, 7.324324)  # {} içine : koyduğumuzda, format içindeki almak istediğimiz kısmı belirleyebiliyoruz. 
text  # Mesela bu soruda f yazarak float sayının .'dan sonraki 2 basamağını ya da 3 basamağını almasını belirttik.

'3.15, 5.367, 7.3243'

In [10]:
text = text = "{:.2}, {:.3}, {:.4}".format(3.1463, 5.367, 7.324324)  # f'i kaldırınca tüm sayının ne kadarını alacağına bakar. 
text  # Bu durumda string bir ifade de bu şekilde değildir.

'3.1, 5.37, 7.324'

In [11]:
text = "{:.2s}, {:.3s}, {:.4s}".format("a3.1463", "5.b367", "7.324324c")  # Format içine string ifadeler tanımladığımızda 2s, 3s yerien 1 ya da 3 yazsak da aynı sonucu verir. 
text

'a3, 5.b, 7.32'

In [23]:
text = "{:.2}, {:.3}, {:.4}".format("a3.1463", "5.b367", "7.324324c")
text

'a3, 5.b, 7.32'

In [15]:
text = "{:>10}".format("test")  # {:>10} dediğimizde 10 karakerlik bir alanda sağa yasla demek. 
text

'      test'

In [ ]:
text = "{:<10}".format("test")  # Ok'un yönünü değiştirdiğimiz de ise sola yasla demektir.  
text

In [16]:
text = "formatlama satırı {:>20} bu da textin son kısmı".format("test")  # Sağa yasladı 
text

'formatlama satırı                 test bu da textin son kısmı'

In [17]:
text = "formatlama satırı {:<20} bu da textin son kısmı".format("test")  # Sola yasladı 
text

'formatlama satırı test                 bu da textin son kısmı'

In [26]:
text = "formatlama satırı {:^20} bu da textin son kısmı".format("test")  # Ortada 
text

'formatlama satırı         test         bu da textin son kısmı'

In [24]:
"{:10.5}".format("hippopotamus") # 10 karakterden oluşan bir alan tanımladı sadece stringin ilk 5 ifadesini aldı.

'hippo     '

In [27]:
"{:>15.5}".format("hippopotamus")  # Sağa yasla, 15'lik bir alan al ve ilk 5'ini yazdır.

'          hippo'

In [28]:
"{:+}".format(55)

'+55'

In [29]:
"{:-}".format(55)

'55'

Indexing a list

Bir yerde indekslemeden bahsediliyor ise [] vardır. indeksleme iterable elemalar için geçerlidir. Integer'lar iterable değildir. 

list_name[index no]

In [30]:
word = ["h", "a", "p", "p", "y"]  # Listelerdeki indexleme de aynı stringlerdeki gibidir. 0,1,2... diye devam eder. String örnek de aşağıdaki örnekde. 
print(word[1])

a

In [31]:
word = "Happy"  # String ifadelerde de bu şekildeydi.
print(word[1])

a

In [38]:
colors = ["red", "purple", "blue", "yellow", "green"]
print(colors[2])  # Çıktısını verdiği eleman string olduğu için "colors2" ifadesi de string tipindedir. 
type(colors[2])

blue

str

In [39]:
["red", "purple", "blue", "yellow", "green"][3]

'yellow'

In [42]:
city = ["New York", "London", "Istabul", "Seoul", "Sydney"]
city_list = []
city_list.append(city)  # we have created a nested list

print(city_list)  # Bu listenin eleman sayısı 1'dir.

[['New York', 'London', 'Istabul', 'Seoul', 'Sydney']]

In [44]:
city_list = [city]
city_list

[['New York', 'London', 'Istabul', 'Seoul', 'Sydney']]

In [46]:
city_list[1]  # Bu listenin tek bir elamanı olduğu ve indeks sayısı 0 olduğu için hata verir.

IndexError: list index out of range

In [47]:
city_list[0]  # Tek bir elemanı olduğu ve aşağıdaki eleman olduğu için bunu verir.

['New York', 'London', 'Istabul', 'Seoul', 'Sydney']

In [48]:
type(city_list)

list

In [51]:
city_list[0][2]  # city_list içinde 1 elaman olduğu için onu aldık ve o elemana içinde de 2 numaralı indeksi aldık. O da "Istanbul"

'Istabul'

In [52]:
type(city_list[0][2])

str

In [54]:
city_list[0][2][3]  # İterable lar indekslenebiliyor.

'a'

Slicing a list: Liste içinde aradan birden fazla elaman seçeceksek buna slicing deniliyor. Bir string slicing yapıyorsak çıktımız da string dir. Aynı şekilde bir list ya da tuple için de aynı şekilde çıktıların tipi de aynıdır. Aynı strinlerde olduğu gibidir. 

list_name = [start:stop:step]
From "Start" to "stop-1" by "step"

In [55]:
even_numbers = [2, 4, 6, 8, 10, 12, 14]
print(even_numbers[2:5])  # Dikkat ettiğimiz üzere çıktısını da liste olarak verdi. Gerisinin mantığı stringlerde olduğu gibi.

[6, 8, 10]

In [62]:
range(1, 11)  # Range function'ı iterable üretir. Çok kullaılır. Range(start, stop, step)
sayılarım = list(range(1,11))
sayılarım

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
diğer = list(range(1, 11, 2))  # 2'şer 2'şer atlayarak gidiyor. 
diğer

[1, 3, 5, 7, 9]

In [65]:
list(range(11))  # Tek bir sayı yazarsak stop-1'i algılar. Yani start=0, step=+1 dir default olarak.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
list(range(11, 1, -1))

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [68]:
print(len([[1, 2, 3]][0]))

3

In [ ]:
# Listemizdeki tekli sayıları bulabilemek için yazdığımız kod. 
odd_numbers = list(range(11))

print(odd_numbers)
print(odd_numbers[1:11:2])  # 1 numaralı indeksten başla yani (1) ve 2'şer atlayarak devam et. Böylece tekli sayıları bulacağız.

In [69]:
animals =  ["elephant", "bear", "fox", "wolf", "rabbit", "deer", "giraffe"]
print(animals[:])  # En baştan başla, en sonra kadar git diyor. Listenin kendisini verir.

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [70]:
animals =  ["elephant", "bear", "fox", "wolf", "rabbit", "deer", "giraffe"]
print(animals[3:])  # 3 numaralı indeksten başla ve sona kadar git.

['wolf', 'rabbit', 'deer', 'giraffe']

In [71]:
animals =  ["elephant", "bear", "fox", "wolf", "rabbit", "deer", "giraffe"]
print(animals[::2])  # En baştan başla, en son kadar git ve 2'şerli atlayarak git.

['elephant', 'fox', 'rabbit', 'giraffe']

In [76]:
mix_list = [1, [1, "one", 2, "two", 3, "three"], 4]
mix_list[1][1::2]  # mix_list'in 1 numaralı elemanına ulaş ve içinden de "one", "two", "three" verilerini al.

['one', 'two', 'three']

In [77]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]
print(city[-4])

London

In [78]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]
print(city[1])

London

In [79]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]
print(city[-3:])

['Istanbul', 'Seoul', 'Sydney']

In [80]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]
print(city[:-3])

['New York', 'London']

In [81]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]
print(city[::-1])

['Sydney', 'Seoul', 'Istanbul', 'London', 'New York']

In [84]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]
print(city[:-2])

['New York', 'London', 'Istanbul']

In [85]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]
print(city[::-2])

['Sydney', 'Istanbul', 'New York']

In [4]:
city = ["Los Angeles", "Beirut", "Tokyo"]
city[1:] = "Seoul"  # Burada slicing'e atama yapıyoruz. Daha önce indeks'e atama yapıyorduk. DİKKAT!! 
print(city)

['Los Angeles', 'S', 'e', 'o', 'u', 'l']

In [15]:
city = ["Los Angeles", "Beirut", "Tokyo"]
city[1:2] = "Seoul"  # Burada slicing'e atama yapıyoruz. Daha önce indeks'e atama yapıyorduk. DİKKAT!! 
print(city)

['Los Angeles', 'S', 'e', 'o', 'u', 'l', 'Tokyo']

In [17]:
city = ["Los Angeles", "Beirut", "Tokyo"]
city[1:] = ["Seoul"]  # Burada slicing'e atama yapıyoruz. Daha önce indeks'e atama yapıyorduk. DİKKAT!! 
print(city)

['Los Angeles', 'Seoul']

In [18]:
city = ["Los Angeles", "Beirut", "Tokyo"]
city[1:] = ["Seoul"]  # Burada slicing'e atama yapıyoruz. Daha önce indeks'e atama yapıyorduk. DİKKAT!!

In [11]:
city = ["Los Angeles", "Beirut", "Tokyo"]
city.insert(1, "Seoul")  # Burada slicing'e atama yapıyoruz. Daha önce indeks'e atama yapıyorduk. DİKKAT!! 
print(city)

['Los Angeles', 'Seoul', 'Beirut', 'Tokyo']

In [86]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[7:3:-1])
print(letters[2:6:-1])

['h', 'g', 'f', 'e']
[]

Tuple: Değiştireilemez (Immutable) dır. Sayısını arttıramayız, yeni bir eleman ekleyemeyiz, eleman çıkaramayız ama tuple'ın elemanlarına nüfus ederek elemanları üzerinde oynayabiliriz.Tabi bu değiştirilemez özelliğini yine de değiştirmiyor. Listelerde olduğu gibi append metodu, sort metodu, remove metodu kullanılmadığı için yani arka planda çalışan bu fonksiyonlar daha az olduğu için daha az yer kaplarlar ve bundan dolayı da daha hızlı çalışırlar.Listelere göre içinden veri çekmek, indekslemek çok daha hızlıdır. İçine atarız ve öyle kalır tuple larda. GÜvenli bir alandır, IP numaraları, TC kimlik numaraları, bir sağlık kuruluşunun database'indeki özel rakamlar, şifreler, sigorta numaraları vb. bu tür değişmesini istemediğimiz verilen depolanmasında kullanılır. Ya da yanlışlıklada olsa kazara silinmesini, değişmesini önlemek istediğimiz bilgileri tuple ile kullanabiliriz. 

Bir tuple oluştururken iki şekilde yapabiliriz; 
()
tuple()

Tuple'lar içlerine iterable(elemanlarına ayrılabilen) veri alırlar. UNUTMAYALIM; Collection fonksiyonlar (list, tuple, set, dict) bunların hepsi iterable alır.

In [87]:
import sys
x = [1, 2, 3]
y = (1, 2, 3)
print(sys.getsizeof(x))  # Liste ve tuple'ın kapladıkları alanları byte olarak kıyasladık. Aşağıda da gördüğümüz üzere tuple çok daha az yer kaplamakta. 
print(sys.getsizeof(y))

120
64

In [89]:
tuple_1 = ("h", "a", "p", "p", "y")
word = "happy"
tuple_2 = tuple(word)
print(tuple(tuple_1))
print(tuple_1)
print(tuple_2)

('h', 'a', 'p', 'p', 'y')
('h', 'a', 'p', 'p', 'y')
('h', 'a', 'p', 'p', 'y')

In [91]:
empty_tuple = ()
print(type(empty_tuple))
tuple()

<class 'tuple'>

()

In [93]:
my_tuple = ("Solar")
print(my_tuple, type(my_tuple), sep="\n")

Solar
<class 'str'>

In [95]:
a, b, c = 1, 2, 3
print(a)
print(b)
print(c)
print(a, b, c)

1
2
3
1 2 3

In [97]:
x = 1, 2, 3  # Virgül ile ayırdığımız değerleri eğer parantez içinde yazmaz isek Python onu tuple olarak kabul eder. 
print(x)
type(x)

(1, 2, 3)

tuple

In [99]:
y = "ali", "veli", "deli"
print(y)
type(y)

('ali', 'veli', 'deli')

tuple

In [100]:
z = "ali"  # Tuple'da tek elemanlı olarak tanımlamak yetmiyor, mutlaka yanına en azından bir , (virgül) koymalıyız. 
type(z)

str

In [101]:
z = "ali",  # Tek elemanlı tuple yapmak için bu şekilde tanımlamamız gerekir. 
print(z)
type(z)

('ali',)

tuple

In [103]:
t = 1
type(t)

int

In [102]:
t = 1,
type(t)

tuple

In [104]:
solar = "Earth", "Venus", "Uranus"  # Parantez içinde değiller 
print(solar, type(solar), sep = "\n")

('Earth', 'Venus', 'Uranus')
<class 'tuple'>

In [105]:
tuple(["solar"])  # İçindeki liste iterable'mı? Evet,Listemizin tek bir elemanı var o da "Solar".Bunu tuple yaparlen ise tek bir elemanı al tuple yap demek.
# Bunu yaparken ise tek bir elemanı alıp yanına virgül koyuyoruz, sonra da parantez ile kapatıyoruz.

('solar',)