1. DERS (011322)

INTRODUCTION TO PYTHON

Klavye üzerinde yer alan tüm karakterleri "", '', """ """, ya da ''' ''' arasında yazarsak bize string veri tipi verir yani text olarak çıkarır. Çift tırnak ile başladıysak çift tırnak ile bitirmeliyiz. Diğer tüm durumlar için de geçerlidir.

In [ ]:
print("hello world!")  # Press "shift + enter" kodu çalıştırır / Hata aldığımız zaman üst kısımda yer alan "Restart" komutuna basabiliriz.

hello world!

In [ ]:
print("hello world')   # Hata verir.Çift ile başlayıp, çift ile bitmediği için.

SyntaxError: unterminated string literal (detected at line 1) (842549119.py, line 1)

In [1]:
print("3#^+$%6-*0")  # Klavyenin üzerindeki tuşlar ile yazdığımız tüm karakterler tırnak içinde yazıldığı sürece string'dir ve hata almadan print edebiliriz.

3#^+$%6-*0

In [ ]:
print("benim adım joseph,   #Birden fazla satırda çift ya da tek tırnak işe yaramıyor. 
      ben sizi çok sevdim
      sizde huzur var")

SyntaxError: unterminated string literal (detected at line 1) (2178593903.py, line 1)

In [ ]:
print("""benim adım joseph,  # Üçlü tırnak ile başlayıp, üçlü tırnak ile bitirdiğimizde, bu tarz çoklu satırları da yazdırabiliriz. 
      ben sizi çok sevdim    # Aynısını tekli üç tırnakta da yapabiliriz. 
      sizde huzur var""")

benim adım joseph,
      ben sizi çok sevdim
      sizde huzur var

In [ ]:
print("""hello world!""")

hello world!

In [ ]:
print('''hello world!''')

hello world!

In [ ]:
print(41)  # Buradaki sayı integer veri tipidir. Sayılarda tırnak kullanırsak, bunu stringe çevirmiş oluruz.

41

In [ ]:
print("41")  # Yine çıktı alabiliriz tabi ama tırnak içinde yazıldığı için string veri tipidir buradaki sayı.

41

In [ ]:
print(''''We should have enough time for our family"''')  # Başında 3 tırnak ve sonunda 3 tırnak olduğu için aradaki tüm verileri string kabul eder.

'We should have enough time for our family"

python'da ondalık sayı yazarken virgül değil, nokta kullanılır. (3.14 doğru bir yazımdır) Virgül iki temel yapıyı, değişkeni, değeri birbirinden ayırmakta kullanılır.

In [ ]:
print(3.14)

3.14

In [ ]:
print(3,4)

3 4

In [ ]:
print(3, 4, 11.4, "ali", "deli", "veli")

3 4 11.4 ali deli veli

In [ ]:
print('first line')
print()  # iç kısmını boş bırakırsak, boş yazdırır.
print('''third line''')

first line

third line

In [ ]:
print("ali")
print("")
print("veli")

ali

veli

Print() ile print("") aynıdır.

In [ ]:
print('''') #hata veriyor, python ilk 3 tırnağı alınca karşılığını alamadığı için hata veriyor.

SyntaxError: unterminated triple-quoted string literal (detected at line 1) (878951140.py, line 1)

"arasına yazabiliriz", 'arasına  yazabiliriz', """arasına yazabiliriz""" ya da '''arasına bir şeyler yazabiliriz''' , string olabilmesi bu 4 şekilde mümkündür.

In [ ]:
print('""')

""

In [ ]:
print("''")

''

In [ ]:
print('"')

"

Kahoot

1. What is Python ? 
- High Level Programming Language

2. Who created Python ?
- Guido van Rossum

3. The latest version of Python is ...
- 3.10.1

4. The Jupyter Lab/Notebook is an open-source web application that allows us cell-based execution.
- True

5. Which of the following companies/institutions did not build its IT infrastructure using Python ? 
Google - NASA - Netflix - (Nike)


6. Python'nun tanıtım videosunda ki seslendirmeyi de "Python"programla dili ile yapıldı. İleri seviye de biz de bunu bu şekilde yapabiliriz.

FORMAT & STYLE OF CODİNG

PEP 8 Kuralları: Bu kuralları uygulamassak da olur yani kural değildir ama bir düzen olmaz.

1- Bir satırda 79 karakteri geçmemeliyiz. Geçsek de bir şey olmaz ama geçmememiz daha iyi. "\" ile satırımız uzadığında aşağıya aktarabiliyoruz.

In [ ]:
print("uyarsan \
güzel olur")

uyarsan güzel olur

In [ ]:
pr\int()   #fonksiyonları, özel kelimeleri bölmeyeceğiz. Bölmekteki amacımız 79 karakteri aşmamak.

SyntaxError: unexpected character after line continuation character (101516550.py, line 1)

2- Parantezlerden önce ve sonra boşluk bırakmamaya gayret etmeliyiz. 
DOĞRU: spam(meat[1], {milk: 2}) , YANLIŞ: spam( meat[ 1 ], { milk: 2} )

3- Bir virgül koyarsak ve sonrasında parantez var ise yine boşluk bırakmama gayret etmeliyiz. 
DOĞRU: df[0,] or foo = (2,) , YANLIŞ: df[0,] or foo = (2,)

4- , ; : dan önce boşluk bırakılmaz.
DOĞRU: if y == 3: print x, y; x, y = y, x    YANLIŞ: if y == 3 : print x , y ; x , y = y , x

5- Fonksiyon parantezlerinden önce boşluk bırakmayalım
DOĞRU: print(x, y)  YANLIŞ: print (x, y)

6- Kod yazarken hizalamaya çalışmamıza gerek yoktur. 
7- =, +=, ==, <, >, >=, in, not in, is, and, or, not gibi ifadelerin öncesinde ve sonrasında boşluk bırakmamız gerekir.

Comment and Docstrings

Yazdığımız koda sonradan baktığımızda ne olduğunu hatırlamamız açısından öncesinde # ifadesi koyarak yorum/açıklama yazabiliriz. PEP 8 kuralları gereği öncesinde 2 boşluk, sonrasında ise 1 boşluk bırakmamız gerekir. Boşluk bırakmassak da çalışır ama bıraksak daha güzel olur. Kod satırına başlık olarak da koyabiliriz.

In [ ]:
print("hello world")  # bu bir açıklama  satırıdır.

hello world

In [ ]:
# bu bir açıklama satırıdır. 
# bu açıklamanın ikinci satırıdır. 
# bu son satırdır.

BASİC DATA TYPES
- Variables
- Introduction to Data Types
- Strings
- Numeric Types
- Boolean
- Type Conversion

Variables

- Naming Variables: Değişkenlere istediğimiz ismi verebiliriz ama PEP 8'e uygun olarak vermemiz çok daha iyi olur. Kodumuzu hep başkası da okuyacakmış gibi düşüneceğiz. O yoğunluk içerisinde o koda kendimiz de baksak anlamayabiliriz sonrasında. 

  variable name = value (değişkene değer atıyoruz)

In [ ]:
planet = "jupyter"
price = 140 
pi_number = 3.14

In [ ]:
a = 25
b = 10
c = 2
print((a*b)/c)

125.0

In [ ]:
a = "ali"
b = 33
c = "deli"
print(a, b, c)

ali 33 deli

2. DERS (011722)

VARIABLES

In [ ]:
my_age = 33
your_age = 30
my_age = your_age
print(my_age)

30

Conventional (PEP 8) Naming Rules 

Python'da vereceğimiz variable'ları rastgele veremeyiz, belirli kuralları vardır. 3-4 kelimeli geçmemeli, içindeki value ile alakalı olmalı, 
hepsi küçük harf ile yazılmalı ve aralarına "_" konulmalı.

In [ ]:
variable = 3.14
var_one = 'something'  # variable yazılırken arasına lowercase (alt çizgi) konuldu ve küçük harfler ile yazıldı. Büyük harf de olur ama PEP8'e uygun olmaz.

In [ ]:
Bu 3 adet variable değerini kullanmayalım, karışabiliyor. 

l = 3.14  # This is lowercase "l"(el) letter
I = 3.14  # This is uppercase letter eye
1 = 'something wrong'  # This is number one.

In [ ]:
O ile 0'ı da kullanmayalım. 

time_0 = '3.14'  # This is uppercase letter "0"
time_0 = '3.14'  # This is number zero

Python'a özel keyword leri variable olarak kullanamayız.

In [ ]:
and = "AliVeliDeli"
pritnt(and)

SyntaxError: invalid syntax (377805530.py, line 1)

In [ ]:
if_or_else = "clarusway"  # Bu şekilde özel variable ları birleştirdiğimizde çalışır ama çok tavsiye edilmez.

In [ ]:
amnt_rttn_fruits  # amount of rotten fruits
rotten_fruits
amount_rotten_fruits

list_prime_number  # the list of prime numbers 
prime_list
prime_no

list_math_exam_score  # list of mathematics exam scores
math_scores
scores_math

In [ ]:
x = y = z = "same"  # Değer atama işlemlerinde sağdan sola doğru düşüneceğiz. 
print(x)
print(y)
print(z)

same
same
same

In [ ]:
x = y = z = 'same'  # Değer atama işlemlerinde sağdan sola doğru düşüneceğiz. 
x  # print yazmadan sadece variable ifadesini yazsak bile VSCode'da çıktı verir. Atadığımız değer çift tınak string ise ona göre tırnak içinde verir.

'same'

In [ ]:
jan = march = may = july = agt = oct = dec = 31  # multi assigments in the single line
apr = june = sep = nov = 30
feb = 28
print(jan, feb, march, apr, may, june, july, agt, sep, oct, nov, dec)

31 28 31 30 31 30 31 31 30 31 30 31

In [ ]:
thomas = 33
marry = 28
walter = None  # Eğer biz variable'a bir değişken atamayacaksak, sadece rezerve yapacaksak bu durumda "None" değerini yazıyoruz. Baş harfi de büyük olacak. 
isabella = 46
walter  # Çıktı aldığımızda herhangi bir değer yazdırmadı "None" olduğu için. Ama print(walter) yazsaydık o vakit None yazdıracaktı.

In [ ]:
thomas = 33
marry = 28
walter = None  # Eğer biz variable'a bir değişken atamayacaksak, sadece rezerve yapacaksak bu durumda "None" değerini yazıyoruz. Baş harfi de büyük olacak.Daha sonra bunun değerini güncelleyebiliriz.  
isabella = 46
print(thomas)
print(marry)
print(walter)
print(isabella)

33
28
None
46

In [ ]:
c = 11  # Python küçük ve büyük harfe karşı duyarlıdır. Mesela küçük c'yi 11'e eşitledik ama çıktı olarak büyük C yazarsak hata verir. 
C

NameError: name 'C' is not defined

In [ ]:
website = "apple.com"
print(website)

# assigning a new variable to website 
website = "clarusway.com"  # En son hangi değeri atadıysak en son onu yazdırır. 

print(website)

apple.com
clarusway.com

In [ ]:
a = 11
b = 22
c = 44

a = 33
b = 55
c = a
print(a, b, c)  # En son hangi değeri verdiksek o kalır.

33 55 33

In [ ]:
first_number = 100
second_number = first_number  # En son satır en güncelidir. 
print(second_number)

100

In [ ]:
x = 15
y = 33
z = x 
x = y 

print(x)
print(y)
print(z)

33
33
15

In [ ]:
"x" = 15  # String bir variable'a value atayamayız.

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2441185170.py, line 1)

In [ ]:
a, b, c = 5, 3.2, "Hello"
print(a)
print(b)
print(c)

5
3.2
Hello

In [ ]:
man = "andrew"
color = "green"
age = 32
pi = 3.14
color = "yellow"
age = 44
man = "Joseph"

print(man, age, color)

Joseph 44 yellow

INTRODUCTION TO DATA TYPES
1 - String (Klavyede tuşladığımız her şey olabilir)
2 - Integer (Tam sayı)
3 - Float (ondalıklı sayı)
4 - bool (True, False)

In [ ]:
my_text = "being a good person"  # String type is called "str" ve çift ya da tek tırnak arasında yazılabilir. 
print(my_text)

being a good person

In [ ]:
str_number = '1923'
str_sign = '%&+^3!>'
print(str_number)
print(str_sign)
print(type(str_number), type(str_sign))

1923
%&+^3!>
<class 'str'> <class 'str'>

Numeric Types
1- Integer
2- Float
3- complex

In [ ]:
my_integer = 40
negative_num = -18  # String type is called "int" 

print(my_integer)  
print(negative_num)

40
-18

In [ ]:
10 == 10.0  # 10, 10.0'a eşitmidir.

True

In [ ]:
"10"  # String
10  # integer
10.0  # float

10.0

In [ ]:
type(0.0)  # Eğer print yazmadan direk type diyerek tipini öğrenirsek, float olarak çıktı verir. Aşağıdaki gibi ise <class 'float'> verir.

float

In [ ]:
print(type(0.0))

<class 'float'>

Boolean : Sadece 2 değer alır. True ya da False. Evet hayır gibi, var ya da yok gibi düşünebiliriz. Sorduğumuz soruya cevap.

In [ ]:
my_data = 'I am string'
print(type(my_data))

<class 'str'>

Python'da gömülü fonksiyonlar vardır. "print" şimdiye kadar en çok kullandıklarımızdandır. "str()", "İnt()", "float()" gibi yeni fonksiyonlar da mevcuttur.Fonksiyonu çağırmaya "call a function" denir.

In [ ]:
str()  # String'e çevirir. Tüm veri tipleri String'e dönüşür fakat ve diğer integer ve float'a dönüşmez. 
int()  # Integer'a çevirir
float()  # float'a çevirir

In [ ]:
int("10")

10

In [ ]:
a = int("11")
type(a)

int

In [ ]:
int("onbir")  # Her şeyin integer'a dönüşemeyeceğine örnek. 
int("ten")

ValueError: invalid literal for int() with base 10: 'onbir'

In [ ]:
pi = 3.14 
converted_pi = str(pi)
print(converted_pi)
print(type(converted_pi))

3.14
<class 'str'>

In [ ]:
int(3.14)  # Integer fonksiyonu bu şekilde çalışıyor yani virgülden sonraki kısmı atıyor.

3

In [ ]:
float("11")

11.0

In [ ]:
float(11)

11.0

In [ ]:
float("33.33")

33.33

In [ ]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"

print(x-int(v))
print(x-float(y))
print(z+str(x))

28
36.5
I am at_39

In [ ]:
"33" + "11"  # String olan ifadeleri yan yana toplarsak yapıştırır.

'3311'

In [ ]:
"33" + 11  # Bir string ile bir integer toplanamaz, farklı türlerdedir.

TypeError: can only concatenate str (not "int") to str

Simple Operations
 1- Arithmetic Operations 
 + addition (100 + 45 = 145)
 - subtraction (500-650 = 435)
 * Multiplication (25 * 4 = 100)
 / division (Buna float division da diyebiliriz) (10 / 2 = 5.0)
 // floor division (integer division da diyebiliriz) (11 // 5 = 2)  # Bölüm kısmı yani içindeki tam satı kısmıdır. 
 ** exponentiation (2 ** 5 = 32) 
 % modulus  # (11 % 5 = 1)  # Bölmedeki kalan kısmını verir. Bu fonksiyon sayesinde tek mi çift mi olup olmadığını bulabiliriz ya da 3'e bölünüp bölünmediğini.

In [ ]:
10 / 2  # Bir işlemde bölüm var ise o float sonuç verir.

5.0

In [ ]:
43 // 5 # floor division

8

In [ ]:
43 % 5  # modulus

3

In [ ]:
print(11-7)
print(4 + 11.0)  # Bir fonksiyon için de float var ise sonuç float çıkacaktır. 
print('11 - 7')  # 11-7 işlemi tekli çift tırnak içinde yer aldığı için sonuçta stringdir. 
print('4' + 4)  # Elma ile armudu yani string ile integer ı toplamaya çalıştığımız için hata verdi.

4
15.0
11 - 7

TypeError: can only concatenate str (not "int") to str

In [ ]:
num1, num2 = 81, 55  # Virgüller ile ayrılmış variablelar var, aynı şekilde virgüller ile ayrılmış value lar var. Sırası ile atanırlar.  
num3 = num1 - num2
print(num3)

26

In [ ]:
r = 5
area = 3.14 * (r**2)
area

78.5

In [ ]:
print(11 % 2)  # remainder if this division is 1
               # it means 11 is an odd number (tekli sayı)
print((4 * 5) / 2)  # Sonuç foat dır. Bunu unutmayalım.

1
10.0

In [ ]:
print(2 ** 3)  # 2 to the power of 3 (2 üzeri 3 kuvveti)
print(3 ** 2)  # square of 3 (3'ün karesi)
a = 2
b = 8
print((a * b) ** 0.5) #square root (kare kök), fonksiyon içinde herhangi bir yer de float var ise sonuçta float tır.

8
9
4.0

3. DERS (012022)

Arithmetic Operations

In [ ]:
değişken = 10
değişken

10

In [ ]:
değişken = değişken + 1
değişken

11

In [ ]:
değişken = değişken + 1
değişken

12

In [ ]:
değişken2 = 5
değişken2 = değişken2 * 2
değişken2

10

In [ ]:
değişken2 = değişken2 * 2
değişken2

20

değişken = değişken + 1  # Bu ve aşağıdaki aynıdır. Aşağıda yazan ifade daha kısa halidir.  
değişken += 1

In [ ]:
değişken = 12
değişken += 1 
değişken

13

In [ ]:
değişken = 10
değişken *= 2
değişken

20

In [ ]:
değişken2 *= 2  # Artık yeni değer olarak değişken değerini 20 olarak kabul eder. 
değişken2

40

In [ ]:
a = 8
b = 2
a += b
a

10

In [ ]:
a *= b
a

20

İşlem önceliğinde; 
1. parentheses ()
2. power ** 
3. unary minus: -3
4. multiplication and division: *, /
5. addition and subtraction: +, -

In [ ]:
a = (1+3) ** (2 ** (1 * 2 / 2) / 2)  # Bölme işleminin olduğu yerde float olarak devam eder. 
print(a)

4.0

In [ ]:
a = 3
b = 4
c = (a ** 2 + b ** 2) ** (0.5)  # 0.5 değeri aynı zamanda 1/2 değeri olduğu için yani bölme işlemi uygulandığından ötürü yine sonucumuz float dır. 
c

5.0

In [ ]:
#calculate the hypotenuse of a triangle (c = ?)
a = 3
b = 4
c = (a ** 2 + b ** 2) ** 0.5
int(c)

5

Operations with print() function

In [ ]:
number = 2021
text = "we have reached"
print(text, number)

we have reached 2021

In [ ]:
print("ali")
print("deli", "veli")
print("selvi", "baharat", 44)
print(c, False, "ahmet", 3.14)

ali
deli veli
selvi baharat 44
5.0 False ahmet 3.14

In [ ]:
print(c, False, "ahmet", 3.14, sep = "-")  # sep = " " fonksiyonu sayesinde çift tırnak arasına hangi değeri koyarsak onu değerlerimizin arasına atar.

5.0-False-ahmet-3.14

In [ ]:
print(c, False, "ahmet", 3.14, sep = "*")

5.0*False*ahmet*3.14

In [ ]:
print("ali", end = " ")  # end = " " ifadesi, yazdığımız en son değerden sonra ne koyacağımızı ve bir alt satır değerinin de onun devamında gelmesini sağlar. 
print("veli", "ayşe")

ali veli ayşe

In [ ]:
print("ali")  # Normal yazımda OUTPUT aşağıdaki gibidir. 
print("veli", "ayşe")

ali
veli ayşe

In [ ]:
print(c, False, "ahmet", 3.14, end = "-")
print("ayşe")

5.0 False ahmet 3.14-ayşe

In [ ]:
text1 = "I bought"
text2 = "kg. of apple this morning"
amount = 6 
text3 = text1 + " " + str(amount) + " " + text2  # I bought 6 kg. of apple this morning
print(text1, amount, text2)  # I bought 6 kg. of apple this morning
print("I bought", 6, "kg. of apple this morning")  # I bought 6 kg. of apple this morning
print("I bought " + "6 " + "kg. of apple this morning")  # I bought 6 kg. of apple this morning
print(text3)

I bought 6 kg. of apple this morning
I bought 6 kg. of apple this morning
I bought 6 kg. of apple this morning
I bought 6 kg. of apple this morning

Escape Sequences (review)

Python ignores any character which comes immediately after \

Bu konu stringlerin için de \ işaretinin kullanılması. Özel karakterlerin önüne gelir ise onu normalize eder ya da belirli harflerin önüne gelirse de farklı bir özellik kazanır. \n, \t, b\ . Ya shirli hale getiriyor ya da sihirli olanı sihirsiz hale getiriyor. 
\n : new line
\t : tab mark 
\b : backspace

In [ ]:
print('Ahmet'in ceketi')  # tek tırnaklar uyuşmadığı için hata veriyor. Bu kapsamda orta kısımdaki tek tırnağın özelliğini kaldırıyoruz aşağıda.

SyntaxError: unterminated string literal (detected at line 1) (1447621355.py, line 1)

In [ ]:
print('Ahmet\'in ceketi')  # Tek tırnağın önüne \ koyduğumuzda artık özel bir karakter olmaktan çıkıyor ve hata vermeden yazdırıyor. Normal bir tırnak oldu.

Ahmet'in ceketi

In [ ]:
print('Ahmet\in ceketi')  # önündeki i harfi özel bir karakter olmadığı için normal string olarak yazdırdı.

Ahmet\in ceketi

In [ ]:
print('Ayla\nın çantası')  # n özel bir karakter olduğu için \n olduğunda new line olarak sonrasını aşağıya atıyor.

Ayla
ın çantası

In [ ]:
print('Ayla\\nın çantası')  # \n özel karakterinin de önünde \ koyarsak, artık \ karakterini işlem yapamaz hale getirir, etkisizleştirir.

Ayla\nın çantası

In [ ]:
print('C:\\north pole\noise_penguins.txt')
print('----------')
print('first', 'second', 'third', sep = '\t')

C:\north pole
oise_penguins.txt
----------
first	second	third

In [ ]:
print('we are', '\boosting', 'our', '\brotherhood')  # we areoostig ourrotherhood
print('it\'s essential to learn Python\'s libraries in IT world')  # it's essential to learn Python's libraries in IT world

we areoosting ourrotherhood
it's essential to learn Python's libraries in IT world

Boolean Operations

1- and : Eğer hepsi True ise bu ifadenin sonucu en SON elemandır. Bir tane bile False var ise ilk False'dur.

In [ ]:
bool("")  # Boş bir string False verir.

False

In [ ]:
bool([])  # Boş bir liste False verir.

False

In [ ]:
bool(())  # Boş bir tuple False verir.

False

In [ ]:
bool({})  # Boş bir dictionary False verir.

False

In [ ]:
bool(0)  # Boolean içindeki integer 0' da False verir.

False

In [ ]:
bool(None)  # None ifadesi Falsy'dir.

False

Yukarıda da yer aldığı gibi boş string, boş liste, boş tuple, boş dictionary ve bool(0) ile bool(None) dışında geri kalan her şey "True" verir.

In [ ]:
bool("0")  # Dolu bir string True verir.

True

In [ ]:
bool(" ")  # Bu boş bir string değildir, arada boşluk olduğu için bunu dolu bir string olarak kabul eder ve True verir.

True

In [ ]:
0 and None and 1  # Arada "and" olduğu için tek tek elemanların Truty ya da Falsy olduklarına bakarız ve 0 Falsy olduğu için ilk Falsy bizim sonucumuzdur
# Yukarıdaki ifade aslında şu şekilde de yazılabilir. False and False and True

0

2- or : Eğer hepsi False ise bu ifadenin sonucu en SON elemandır. Bir tane bile True var ise ilk True'dur. Yani and deki durumun tam tersidir.

In [ ]:
True or True or True  # or ifadesinde ilk True hangisi ise sonuç o dur.

True

In [ ]:
False or False or False # Hepsi False olur ise en sonuncu sonuçtur.

False

In [ ]:
0 or None or ""  # Buradaki ifadelerin hepsi Falsy'dir ve hepsi Falsy olur ise sonuçta en sonuncu ifadedir.

''

In [ ]:
0 or 1 or 2 or ""  # Falsy or Truty or Truty or Falsy olduğu için bir tane bile Truty var ise ilk Truty'dir.

1

3- not : Kendisinden sonra geleni tersine çevirir. True ise False, False ise True'a çevirir. Her zaman "True" ya da "False" sonucu verir. not'ın önüne koyacağımız bir value olması gerekir. ("Not 0" gibi)

In [ ]:
not 1  # 1 değeri normalde Truty olmasına rağmen

False

In [ ]:
not False

True

In [ ]:
not 0

True

İşlem sırasına soktuğumuzda; 
1. not
2. and
3. or

In [ ]:
bool_var = False and not True
print(bool_var)

False

In [ ]:
True and False or not False or False  # True and False or True or False - False or True or False - True

True

Truth Values of Logic Statements 
- Falsy values in Python 
  None
  Zero : 0, 0.0, 0j
  Empty Seq. and collections : "", [], {}
  Any remaining value : True

In [ ]:
print(2 and 3)

3

In [ ]:
print(1 and 0)

0

In [ ]:
print(2 and "hello world")
print([] and "be happy!")
print(None and ())

hello world
[]
None

In [ ]:
print(2 or 3)
print(None or 1)

2
1

In [ ]:
print(2 or "hello world")
print([] or "be happy!")
print(None or ())
print({} or 0)
print({0} or False)

2
be happy!
()
0
{0}

The Strenght of the String
- Indexing & Slicing Strings

In [ ]:
string_karakterler = "&% , ali deli veli-1234"  # Bu string ifade içindeki her bir karakter bir değer olmakta (boşluk da dahil)
string_karakterler

'&% , ali deli veli-1234'

In [ ]:
string_karakterler[0]  # soldan sağa doğru ilerleyecek şekilde köşeli parantez içinde yazdığım sayıya göre sting ifadenin tüm elemanlarına ulaşabiliyorum.

'&'

In [ ]:
"clarus"[5]  # 5. index numarası bizlere s yi verir.

's'

In [ ]:
okul = "clarus"  
okul[5]

's'

In [ ]:
okul[2:4]  # 2. indexten başla ve :'den sonraki değerin bir eksiğine kadar git demek. Yani köşeli parantez içindeki ilk değer start, 2. değer ise stop ama 1 eksiği.

'ar'

In [ ]:
okul[:3]  # En baştan başla ve stop un bir eksiğine kadar git demek.

'cla'

Eğer bir string ifadeden tek bir ifade çekmek istiyorsak tek bir tane sayı yazacağız köşeli parantez içine ama birden çok sayı yazacaksak o zaman aralarında : olacak şekilde 2 sayı belirteceğiz. step de aksi belirtilmediği sürece yönümüz soldan sağa doğrudur. 

[start:stop:step]

In [ ]:
okul[:]  # En baştan başla ve en sona kadar git demektir. O yüzden tüm string ifadeyi yazdırır.

'clarus'

4. DERS (012422)

Kadayıf dolmasının malzemeleri; 
- Kadayıf
- İç 
  - Ceviz
  - Fındık
  - Fıstık
- Şerbet
  - Su
  - Şeker
- Yumurta

In [ ]:
kadayıf = True  # Olmazsa olmaz

# İç --> Olmazsa olmaz
fındık = True  # Farketmez
fıstık = False  # Farketmez
ceviz = False  # Farketmez

# Şerbet 
su = True
şeker = True

yumurta = True # Olmazsa olmaz

# içecek --> Olmazsa olmaz
çay = True
meşrubat = False
limonata = False

yedim = kadayıf and (su and şeker) and (fındık or fıstık or ceviz) and yumurta\
and (çay or meşrubat or limonata)
yedim

True

"and" de False'u arar, "or" da True'yu arar.

Indexing & Slicing Strings

iterable : Tek tek elemanlarına ayrılabilen, ulaşılabilen verilere denmektedir. iterate etmek de tek tek o elemanlara ulaşıp üzerinde gezmektir. String'de bir iterable'dır. Tek tek elemanlarına ulaşıp üzerinde gezebiliriz. 

slicing yaptığımızda birden çok elemanı almış oluruz.
indexing yaptığımızda ise bir eleman almış oluruz.

In [ ]:
fruit = "Orange"
print(fruit)
print(fruit[0])
print(fruit[1])
print(fruit[2:5])
print(fruit[2:])

Orange
O
r
ang
ange

In [ ]:
city = "Phoenix"
print(city[1:])  # hoenix
print(city[:6])  # Phoeni
print(city[::2])  # Ponx
print(city[1::2])  # hei
print(city[-3:])  # nix
print(city[::-1])  # xineohP

hoenix
Phoeni
Ponx
hei
nix
xineohP

In [ ]:
animal = "hippopotamus"
print(animal[1:])  # ippopotamus
print(animal[:6])  # hippop
print(animal[::2])  # hpooau
print(animal[1:7:2])  # ipp
print(animal[-3:])  # mus
print(animal[::-1])  # sumatopoppih

ippopotamus
hippop
hpooau
ipp
mus
sumatopoppih

"len" fonsiyonu iterable'ın uzunluğunu verir. Yani sadece iterable değer alır içine. len(1230) da 1230 iterable bir veri tipi olmadığı için sonucu hata verir.

In [ ]:
len(city)  # len fonsiyonu integer (tam sayı) değer verir ve uzunluk yani eleman sayısını verir.

7

In [ ]:
len("321")

3

In [ ]:
len("0")

1

In [ ]:
len("1 1")

3

In [ ]:
len(111)  # iterable(elemanlarına ayrılabilen) olmadığı için eleman sayısından da bahsedilemez. String'e dönüştürseydik olurdu.

TypeError: object of type 'int' has no len()

String Formatting with Arithmetic Syntax

 +
 =
 *

In [ ]:
sonuc = str((5 + 6) ** 2) + '121'
sonuc

'121121'

In [ ]:
"ali" + "deli" + "veli"

'alideliveli'

In [ ]:
"100" + "500" + "001"

'100500001'

In [ ]:
sonuc = str((5 + 6) ** 2) + '121'
sonuc = (sonuc + sonuc) * 2
sonuc

'121121121121121121121121'

In [ ]:
"ali" * 3

'alialiali'

In [ ]:
3 * "veli"

'veliveliveli'

In [ ]:
str_one = 'upper'
str_two = 'case'
str_comb = str_one + str_two
print("upper" + "case")
print(str_one + str_two)
print(str_comb)

uppercase
uppercase
uppercase

In [ ]:
print(* "clarusway")  # iterable bir ifadenin önüne eğer yıldız koyarsak elemanlarına ayırır yani böler.

c l a r u s w a y

In [ ]:
print(* 111)  # iterable olmadığı için yani elemanlarına ayrılabilen bir ifade olmadığı için hata verdi.

TypeError: print() argument after * must be an iterable, not int

In [ ]:
1 + "1"  # Bir string ile bir integer'ı toplarsak hata verir. Ama aşağıdaki gibi çarparsak;

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
2 * "v"  # tekrar ettirir ve yan yana yazar (string olarak)

'vv'

In [ ]:
string_1 = 'I am angry...'
print(* string_1)

I   a m   a n g r y . . .

In [ ]:
string_2 = "1453"
print(* string_2)

1 4 5 3

In [ ]:
print(* "joseph")

j o s e p h

In [ ]:
len(" ")

1

In [ ]:
a = "ali"
b = "veli"
a = a + b
a

'aliveli'

String Formatting with string.format() Method

Bu metod sadece stringler ile kullanılır. Formulü aşağıdaki gibidir. 

'string {} string {} string'.format(data1, data2)

In [ ]:
deneme = "clarusway"
deneme.format()
# ya da şu şekilde de yazabiliriz; 
"clarusway".format()

In [ ]:
saat = "05:00"
yer = "Okul"
miktar = 2
"Ben sabah {} de uyandım. {}'a gittim. Gelirken de {} kg elma aldım.".format(saat, yer, miktar)  # format içinde 0, 1, 2 olarak index sayıları verebiliriz. 
# {} koyduğumuzda format içindeki verileri yazdırmak istediğimizde kullanıyoruz.

"Ben sabah 05:00 de uyandım. Okul'a gittim. Gelirken de 2 kg elma aldım."

In [ ]:
# bu da format metodunun 3. kullanımıdır. 
"Ben sabah {saat} de uyandım. {yer}'a gittim. Gelirken de {miktar} kg elma aldım.".format(yer = "okul", miktar = 2, saat = "05.00")

"Ben sabah 05.00 de uyandım. okul'a gittim. Gelirken de 2 kg elma aldım."

In [ ]:
# illa değişkenleri atamak zorunda da değiliz, içine direk değerleri de yazdırabiliriz. 
"Ben sabah {} de uyandım. {}'a gittim. Gelirken de {} kg elma aldım.".format("05.00", "okul", "2")

"Ben sabah 05.00 de uyandım. okul'a gittim. Gelirken de 2 kg elma aldım."

In [ ]:
# bu da format metodunun 4. kullanımıdır. format içindeki veriler 0, 1, 2 olmak üzere index ataması yapabilir ve {} içlerine de o index numaralarını yazabiliriz. 
"Ben sabah {2} de uyandım. {0}'a gittim. Gelirken de {1} kg elma aldım.".format("okul", 2, "05.00")

"Ben sabah 05.00 de uyandım. okul'a gittim. Gelirken de 2 kg elma aldım."

5. DERS (012622)

In [ ]:
fruit = "orange"
vegetable = "tomato"
amount = 4 
print('The amount of {} we bought is {} pounds'.format(fruit, amount))

The amount of orange we bought is 4 pounds

In [ ]:
print('The amount of {fruit} we bought is {amount} pounds'.format(fruit = "apple", amount = 2))

The amount of apple we bought is 2 pounds

In [ ]:
print('The amount of {1} we bought is {0} pounds'.format(2, "apple"))

The amount of apple we bought is 2 pounds

In [ ]:
print('The amount of {} we bought is {} pounds'.format("apple", 2))

The amount of apple we bought is 2 pounds

In [ ]:
print("{state} is the most {adjective} state of the {country}".format(state = "California", country = "USA", adjective = "crowded"))

California is the most crowded state of the USA

In [ ]:
print("{0} is the most {2} state of the {1}".format("California", "USA", "crowded"))

California is the most crowded state of the USA

In [ ]:
state = "California"
country = "USA"
adjective = "crowded"

print("{} is the most {} state of the {}".format(state, adjective, country))

California is the most crowded state of the USA

In [ ]:
print("{} is the most {} state of the {}".format("California", "crowded", "USA"))

California is the most crowded state of the USA

In [ ]:
phrase = "{2} {3} {1} {0}".format('circumstances', 'in all', 'generosity', 'wins')
print(phrase)

generosity wins in all circumstances

Şimdiye kadar 2 tane string format metodu gördük; 
1- Arithmatic Syntax (*, +, =)
2- string.format() Method

Şimdi ise 3. sünü göreceğiz;

String Formatting with f-String

f'string {variable1} string {variable2} string'

In [ ]:
fruit = "orange"
vegetable = "tomato"
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"
print(output)

The amount of orange and Tomato we bought are totally 6 pounds

In [ ]:
sample = f"{2 ** 3}"  # f string metodun da süslü parantez içinde fonksiyonlar ve metodların hepsi çalışır.   
print(sample)  # .format() metounda da bazıları geçerli ama  f string metodunda hepsi geçerli.

8

In [ ]:
# string.capitalize() metodu, kullanıldığı string ifadenin baş harfini büyük diğerlerini küçük yapmaktadır. 
name = "MARIAM"
sentence = f"My name is {name.capitalize()}"  # f string metodu içinde farklı metod ve fonksiyonlar kullanılabilmektedir. 
print(sentence)

My name is Mariam

In [ ]:
name = "Joseph"
job = "teachers"
domain = "Data Sciense"
message = (
    f"Hi {name}."
    f" You are one of the {job}"
    f" in the {domain} section."
)
print(message)

Hi Joseph. You are one of the teachers in the Data Sciense section.

In [ ]:
name = "Joseph"
job = "teachers"
domain = "Data Sciense"  # "\" işareti ile de ayrı ayrı satırlardda yazabiliriz rahat olması açısından. Burada parantez yoktur. 
message = f"Hi {name}." \
    f" You are one of the {job}" \
    f" in the {domain} section."
print(message)

Hi Joseph. You are one of the teachers in the Data Sciense section.

In [ ]:
name = "Joseph"
status = "ill"
message = f"Hi {name}. \
Are you {status}?"
message

'Hi Joseph. Are you ill?'

In [ ]:
name = "Susan"
age = "young"
gender = "lady"
school = "CLRWY IT university"

sentence = (  # Parantez olmadığında \ ile aşağı satırlara yazdırıyoruz. 
    f"{name} is" 
    f" a {age}"
    f" {gender}"
    f" and she is a student at the {school}"
)
print(sentence)

Susan is a young lady and she is a student at the CLRWY IT university

Immutability 

Değişmezlik. Stringler immutability dir.

In [ ]:
var_string = 'ClarusWay'
print(var_string.lower())  # lower fonksiyonu, string olab value değerimizin tüm harflerini küçültür. 
print(var_string)
var_string = 'ClarusWay'.lower()
print(var_string)

clarusway
ClarusWay
clarusway

In [ ]:
isim = "ALİ veli"
isim.swapcase()  # Herşeyi tam tersine çevirir. Büyükleri küçük, küçükleri ise büyük yapar.

'ali̇ VELI'

In [ ]:
isim  # Bizim variable mız değişmedi, sadece output umuz değişti, variable aynı durmaktadır.

'ali̇ VELI'

In [ ]:
isim = isim.swapcase()
isim

'ALİ veli'

In [ ]:
var_str = "In God we Trust"
var_str.lower() # in god we trust
print(var_str)

In God we Trust

Searching a String 

Aşağıdaki iki metod ile text içinde herhangi bir karakter aramamızı sağlar, boolean sonuç verirler (True ya da False). Çokça kullanılan metodlardır. 

- string.startswith() : en başında arar 
- string.endswith() : en sonunda arar

In [ ]:
text = "www.clarusway.com"
print(text.endswith(".com"))  # Son 4 karakter bu mu diye soruyor ve True
print(text.startswith("http:"))  # İlk 5 karakter bu mu diye soruyor ve False

True
False

In [ ]:
text = "www.clarusway.com"
print(text.endswith("om"))
print(text.startswith("w"))

True
True

In [ ]:
email = "clarusway@clarusway.com is my e-mail address"
print(email.startswith("@", 9))  # 9 numaralı indekste "@" var diyor. 
print(email.endswith("-", 10, 32))  # 10 numaralı indeksten başla 32'ye kadar git (32 dahil değil) ve "-" karakterini ara. Aradığında 31. karakterde buldu.

True
True

Changing a String

string.method(arguments)

- str.replace(old, new[, count])  # eskisi ile yenisini değiştirir. 
- str.swapcase()  # Her şeyi tam tersine çevirir. Örneğin küçükleri büyük, büyükleri küçük yapar. 
- str.capitalize()  # Kelimenin/cümlenin ilk harfini büyük yapar, geri kalanını ise küçük yapar. 
- str.upper()  # Tüm kelimeyi büyük harfe çevirir. 
- str.lower()  # Tüm kelimeyi büyük harfe çeivirir. 
- str.title()  # Kelimelerin baş harflerini büyütüyor.

In [ ]:
text = "Clarusway"
text.replace("C", "c")  # İlk önce eskiyi yazdık ve sonra da yeniyi yani olmasını istediğimizi yazdık.

'clarusway'

In [ ]:
text  # stringler immutable (değişmez) oldukları için text'in çıktısını aldığımızda yine ilk hali ile verir.

'Clarusway'

In [ ]:
text.replace("a", "**")  # "a" ları bul yerine "**" koy.

'Cl**rusw**y'

In [ ]:
type(text.replace("a", "**"))

str

In [ ]:
sentence = "I live and work in Virginia"
print(sentence.upper())
print(sentence.lower())
print(sentence.swapcase())
print(sentence)  # Ana cümlemiz değişmedi, string ifadeler değişmezdirler.

I LIVE AND WORK IN VIRGINIA
i live and work in virginia
i LIVE AND WORK IN vIRGINIA
I live and work in Virginia

In [ ]:
text  # Tek bir string'de birden çok metod kullanabiliriz. Aşağıda örnekleri mevcuttur.

'Clarusway'

In [ ]:
text.replace("a", "--")

'Cl--rusw--y'

In [ ]:
text.replace("a", "--").replace("s", "")

'Cl--ruw--y'

In [ ]:
text.replace("a", "--").replace("s", "").upper()

'CL--RUW--Y'

In [ ]:
text = "the better the family, the better the society"  # Tüm baş harflerini büyüttük ve text için yeniden değer atadık. 
text = text.title()
print(text)

The Better The Family, The Better The Society

In [ ]:
text = "s0d0me and G0m0re"
text = text.replace("0", "o")
print(text)

sodome and Gomore

Editing a String

string.method(arguments)

- string.strip() : 
- string.rstrip() : 
- string.lstrip() :

In [ ]:
space_string = "    listen first    "
print(space_string.strip())  # Sağdaki ve soldaki tüm boşlukları kaldırır.

listen first

In [ ]:

text = "tyou can learn almost everything in pre-classz"
text = text.lstrip("t").rstrip("z").upper()
print(text)

YOU CAN LEARN ALMOST EVERYTHING IN PRE-CLASS

6. DERS (013122)

Collection Types
- List
- Tuple
- Dictionary 
- Set

String, integer, float, bloolean gibi veri tipleri vardı. Bunlar x = "Clarusway" gibi tek bir veri tipi içeriyorlardı. 
Collection lar ise birden çok veri içeriyor.

Lists

Collection lar arasında en çok kullanılandır diyebiliriz. 
- [] manuel olarak bu şekilde köşeli parantez içinde oluşturabiliriz. 
- list() fonksiyonu da bir diğer yöntemdir. List fonk. içine iterable veriler alır. İçine koyduğumuz iterable bir veriyi aralarına virgül koyarak elemanlarına ayırıyor, baştan(soldan) başlıyor sona kadar gidiyor ve her bir elemanını listenin elemanı haline getiriyor.

In [ ]:
X = ["ali", "veli"]  # Şimdiye kadar gördüğümüz konularda değişkene (variable) tek bir değer (value) atıyorken şimdi içinde birden çok veri var.

In [ ]:
["Clarusway"]  # Bu bir listedir ve 1 elemanı vardır. 
["ali", "veli", "deli"]  # Bu da bir listedir ve 3 elemanı vardır.

In [ ]:
list("clarus")

['c', 'l', 'a', 'r', 'u', 's']

In [ ]:
a = [1, 2, 3]  #  list fonksiyonunun tanımında da köşeli parantez içinde elemanlarına ayırır ve aralarına virgül koyar olduğu için yine aynı sonucu verir. 
list(a)

[1, 2, 3]

In [ ]:
list_1 = ['h', 'a', 'p', 'p', 'y']
word = "happy"
list_2 = list(word)
print(list_1)
print(list_2)

['h', 'a', 'p', 'p', 'y']
['h', 'a', 'p', 'p', 'y']

In [ ]:
list(1234)  # iterable yani elemanlarına ayrılabilen bir veri olmadığı için hata verir.

TypeError: 'int' object is not iterable

In [ ]:
len(1230)  # Hatırlatmak için yapıldı, len fonksiyonları da sadece iterable veriler alır içine.

TypeError: object of type 'int' has no len()

In [ ]:
string_1 = "I quit smoking"
new_list_1 = list(string_1)  # we created multi element list, aralardaki boşluklar bile elemandır. 
print(new_list_1)

new_list_2 = [string_1] # this is a single element list 
print(new_list_2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

In [ ]:
mixed_list = [11, "Joseph", False, 3.14, None, [1, 2, 3]]  # Sırası ile int, str, bool, float, NoneType, list hepsinden vardır. 
print(mixed_list)

[11, 'Joseph', False, 3.14, None, [1, 2, 3]]

In [ ]:
my_list = ["joseph", "Clarusway", 2020]
new_list1 = list(my_list)
new_list_2 = [my_list]

print(new_list1)
print(len(new_list1))
print(new_list_2)
print(len(new_list_2))

['joseph', 'Clarusway', 2020]
3
[['joseph', 'Clarusway', 2020]]
1

In [ ]:
my_list1 = ["2020's hard"]
my_list2 = list("2020's hard")

print(my_list1)
print(my_list2)

["2020's hard"]
['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']

Basic Operations with Lists

In [ ]:
empty_list1 = list()  # Boş liste oluşturam yöntemleri bu ve alt satırdaki gibidir. 
empty_list2 = []
print(empty_list1)
print(empty_list2)

[]

.append() : Listenin en sonuna eleman ilave eder. Mevcutun üzerine koyar ve tek bir eleman ekleyebiliriz. Fonksiyonlar normal parantez ile çalışır, burada append de listenin bir fonksiyonu olduğu için () ile çalışır.

In [ ]:
boş = []
boş2 = list()

print(boş)
print(boş2)

[]
[]

"ali deli veli"'dan sonra yani string bir ifadeden sonra nokta (.) koyduğumuzda yukarı doğru bir liste açılır ve bunlar string metodlarıdır.

"ali deli veli".(Burada açılır)

Aynı durum list fonksiyonu içinde geçerlidir. 

listem = []
listem.(burada çıkar)

In [ ]:
listem = []  # Aşağıda noktadan sonra listeye herhangi bir metod tanımlayabilmemiz için öncelikle bir list tanımlamalıyız.

Stringler immutable dır (değiştirilemez) ama list ler mutable dır. (değiştirilebilir) Listelerin yerlerini de değiştirebiliriz.

In [ ]:
listem.append(11)  # Herhangi bir çıktı vermedi ama listemiz değişti aslında, aşağıda görebiliriz. 
# strin'deki gibi ("ali veli deli".replace("i", "+") bunda hemen sonuç verir mesela çalıştırdığımızda ama asıl stringimiz değişmez, immutable'dır.)

In [ ]:
listem  # Listemiz boştu ama şuanda içinde 11 var.

[11]

In [ ]:
listem.append(22)
print(listem)

[11, 22]

In [ ]:
listem.append(33)

In [ ]:
listem

[11, 22, 33]

In [ ]:
gardaşlar = ["ali", "deli"]
gardaşlar.append("veli")
gardaşlar

['ali', 'deli', 'veli']

In [ ]:
gardaşlar.append(True)
gardaşlar

['ali', 'deli', 'veli', True]

In [ ]:
gardaşlar.append(3.14)

In [ ]:
gardaşlar

['ali', 'deli', 'veli', True, 3.14]

gardaşlar.pop(index=-1, /)  # En son elemanı siler ve sildiği elemanın da çıktısını verir.

In [ ]:
gardaşlar.pop()  # Listenin en sonundaki elemanı siler ve sildiği elemanı da çıktı verir.

3.14

In [ ]:
gardaşlar  # Çıktı aldığımızda 3.14'ün olmadığını görürüz.

['ali', 'deli', 'veli', True]

In [ ]:
gardaşlar.pop()
gardaşlar

['ali', 'deli', 'veli']

In [ ]:
gardaşlar.pop(1)  # 1 numaralı index silinir, ilk satırın çıktısı da yine sildiği elemandır. 
gardaşlar

['ali', 'veli']

In [ ]:
empty_list = []
empty_list.append(6666)
empty_list.append("Multiverse")
empty_list.append([0])

print(empty_list)

[6666, 'Multiverse', [0]]

In [ ]:
city = ["New York", "London", "Istabul", "Seoul", "Sydney"]
city.append("Addis Ababa")
print(city)

['New York', 'London', 'Istabul', 'Seoul', 'Sydney', 'Addis Ababa']

In [ ]:
numbers = []
numbers.append(1)
numbers.append(2)
numbers.append(3)
numbers.append(4)

print(numbers)

[1, 2, 3, 4]

.insert() : Liste elemanları arasına ekleme yapabiliriz. İndeks numarasını yazarız ve ekleriz. Diğer indeksler sağa doğru kayar.  

gardaşlar.insert(index, object, /)  # Formulü budur.

In [ ]:
gardaşlar.insert(1, "deli")
gardaşlar

['ali', 'deli', 'veli']

In [ ]:
numbers = [1, 4, 7]
numbers.insert(2, 9)
print(numbers)
numbers.insert(2, 6)
print(numbers)

[1, 4, 9, 7]
[1, 4, 6, 9, 7]

In [ ]:
city = ['New York', 'London', 'Istabul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, "Stockholm")  # Üst listede yer alan 2 numaralı index'deki Istanbul sağ kayarak yerine stockholm gelir. 
print(city)

['New York', 'London', 'Stockholm', 'Istabul', 'Seoul', 'Sydney', 'Addis Ababa']

In [ ]:
listem = [1, 2, 3, 4]

In [ ]:
listem.insert(4, 5)
print(listem)

[1, 2, 3, 4, 5]

.remove() : Listeden herhangi bir elemanı kaldırır, siler.

In [ ]:
mesela = [[1, 2, 4], False, "ali", 11, ["veli", ["deli"]]]
mesela.remove([1, 2, 4])  # remove içine yazdığımız elemanı liste içinden çıkarır. 
mesela

[False, 'ali', 11, ['veli', ['deli']]]

.sort() : Liste elemanlarının aynı tipte olması gerekmekte ve o elemanları ya küçükten büyüğe ya da alfabetik sıraya göre sıralar. reverse ile sıralamayı terse çevirebiliriz.

In [ ]:
yeni = [3, 5, 1, 7, 4]
yeni.sort()  # Sayısal olarak küçükten büyüğe doğru sıraldık. Kalıcı olarak değiştirdik. 
yeni

[1, 1, 3, 5, 7]

In [ ]:
eski = ["behçet", "cavidan", "ali", "veli"]
eski.sort()  # Burada da alfabetik sıraya göre ilerlemektedir. 
eski

['ali', 'behçet', 'cavidan', 'veli']

In [ ]:
mix_list = ["d", 1, "a", 7]
mix_list.sort()
print(mix_list)

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
list_1 = ["one", "four", "nine"]
list_1.sort()
print(list_1)

['four', 'nine', 'one']

In [ ]:
list_1.sort(reverse=True)  # Tam tersine çevirdik. 
list_1

['one', 'nine', 'four']

In [ ]:
list_2 = ["@", "*-", "False"]
list_2.sort()  # Bu gibi karakterler (string) de aski koda göre sıralanır. Klavyedeki her bir karakterin sayısal bir karşılığı vardır. 
list_2

['*-', '@', 'False']

In [ ]:
list_2 = ["@", "*-", "False"]
list_2.sort(reverse=True)  # Sıralamayı terse çevirdik 
list_2

['False', '@', '*-']

In [ ]:
ord("*")  # Ord fonksiyonu sayesinde klavyedeki karakterlerin aski kodlarını görebiliriz.

42

In [ ]:
ord("@")

64

In [ ]:
ord("F")

70

In [ ]:
list_3 = [True, False]  # False'u 0, True'yu 1 kabul eder ve ona göre listeler. 
list_3.sort()
list_3

[False, True]

In [ ]:
list_4 = [[3], [44], [-12]]  # Liste içinde listeyi de sıralar. 
list_4.sort()
list_4

[[-12], [3], [44]]

In [ ]:
list_5 = [[1, 3], [44, -40], [-12,1]]  # Eğer elemanlar içinde birden falza eleman olur ise o durumda da ilk elemanlarını baz alır. 
list_5.sort()
list_5

[[-12, 1], [1, 3], [44, -40]]

chr(): Bir aski kodun string karşılığını bulmak için kullanırız. ord ile chr birbirinin zıttıdır.

In [ ]:
chr(70)

'F'

In [ ]:
list_1 = ["one", "four", "nine"]
lenght = len(list_1)  # Listelerin uzunluğu, içindeki virgül ile ayrılmış elemanları kadardır. 
lenght

3

7. DERS (020222)

In [ ]:
a = 1
print(-a)

-1

In [ ]:
b = -11 
print(-b)

11

In [ ]:
a = 3
b = 4
print("The sum of {} + {} is : {}".format(a, b, a+b))

The sum of 3 + 4 is : 7

In [ ]:
a = 3
b = 4
print("The sum of {} x {} is : {}".format(a, b, a*b))

The sum of 3 x 4 is : 12

In [ ]:
a = 2
b = 3
print("The power of {} to {} is : {}".format(b, a, a**b))  # The power of 3 to 2, 2**3 demek.

The power of 3 to 2 is : 8

In [ ]:
text = "{:.2f}, {:.3f}, {:.4f}".format(3.1463, 5.367, 7.324324)  # {} içine : koyduğumuzda, format içindeki almak istediğimiz kısmı belirleyebiliyoruz. 
text  # Mesela bu soruda f yazarak float sayının .'dan sonraki 2 basamağını ya da 3 basamağını almasını belirttik.

'3.15, 5.367, 7.3243'

In [ ]:
text = text = "{:.2}, {:.3}, {:.4}".format(3.1463, 5.367, 7.324324)  # f'i kaldırınca tüm sayının ne kadarını alacağına bakar. 
text  # Bu durumda string bir ifade de bu şekilde değildir.

'3.1, 5.37, 7.324'

In [ ]:
text = "{:.2s}, {:.3s}, {:.4s}".format("a3.1463", "5.b367", "7.324324c")  # Format içine string ifadeler tanımladığımızda 2s, 3s yerien 1 ya da 3 yazsak da aynı sonucu verir. 
text

'a3, 5.b, 7.32'

In [ ]:
text = "{:.2}, {:.3}, {:.4}".format("a3.1463", "5.b367", "7.324324c")
text

'a3, 5.b, 7.32'

In [ ]:
text = "{:>10}".format("test")  # {:>10} dediğimizde 10 karakerlik bir alanda sağa yasla demek. 
text

'      test'

In [ ]:
text = "{:<10}".format("test")  # Ok'un yönünü değiştirdiğimiz de ise sola yasla demektir.  
text

In [ ]:
text = "formatlama satırı {:>20} bu da textin son kısmı".format("test")  # Sağa yasladı 
text

'formatlama satırı                 test bu da textin son kısmı'

In [ ]:
text = "formatlama satırı {:<20} bu da textin son kısmı".format("test")  # Sola yasladı 
text

'formatlama satırı test                 bu da textin son kısmı'

In [ ]:
text = "formatlama satırı {:^20} bu da textin son kısmı".format("test")  # Ortada 
text

'formatlama satırı         test         bu da textin son kısmı'

In [ ]:
"{:10.5}".format("hippopotamus") # 10 karakterden oluşan bir alan tanımladı sadece stringin ilk 5 ifadesini aldı.

'hippo     '

In [ ]:
"{:>15.5}".format("hippopotamus")  # Sağa yasla, 15'lik bir alan al ve ilk 5'ini yazdır.

'          hippo'

In [ ]:
"{:+}".format(55)

'+55'

In [ ]:
"{:-}".format(55)

'55'

Indexing a list

Bir yerde indekslemeden bahsediliyor ise [] vardır. indeksleme iterable elemalar için geçerlidir. Integer'lar iterable değildir. 

list_name[index no]

In [ ]:
word = ["h", "a", "p", "p", "y"]  # Listelerdeki indexleme de aynı stringlerdeki gibidir. 0,1,2... diye devam eder. String örnek de aşağıdaki örnekde. 
print(word[1])

a

In [ ]:
word = "Happy"
print(word[1])

a

In [ ]:
colors = ["red", "purple", "blue", "yellow", "green"]
print(colors[2])  # Çıktısını verdiği eleman string olduğu için "colors2" ifadesi de string tipindedir. 
type(colors[2])

blue

str

In [ ]:
["red", "purple", "blue", "yellow", "green"][3]

'yellow'

In [ ]:
city = ["New York", "London", "Istabul", "Seoul", "Sydney"]
city_list = []
city_list.append(city)  # we have created a nested list

print(city_list)  # Bu listenin eleman sayısı 1'dir.

[['New York', 'London', 'Istabul', 'Seoul', 'Sydney']]

In [ ]:
city_list = [city]
city_list

[['New York', 'London', 'Istabul', 'Seoul', 'Sydney']]

In [ ]:
city_list[1]  # Bu listenin tek bir elamanı olduğu ve indeks sayısı 0 olduğu için hata verir.

IndexError: list index out of range

In [ ]:
city_list[0]  # Tek bir elemanı olduğu ve aşağıdaki eleman olduğu için bunu verir.

['New York', 'London', 'Istabul', 'Seoul', 'Sydney']

In [ ]:
type(city_list)

list

In [ ]:
city_list[0][2]  # city_list içinde 1 elaman olduğu için onu aldık ve o elemana içinde de 2 numaralı indeksi aldık. O da "Istanbul"

'Istabul'

In [ ]:
type(city_list[0][2])

str

In [ ]:
city_list[0][2][3]  # İterable lar indekslenebiliyor.

'a'

Slicing a list: Liste içinde aradan birden fazla elaman seçeceksek buna slicing deniliyor. Bir string slicing yapıyorsak çıktımız da string dir. Aynı şekilde bir list ya da tuple için de aynı şekilde çıktıların tipi de aynıdır. Aynı strinlerde olduğu gibidir. 

list_name = [start:stop:step]
From "Start" to "stop-1" by "step"

In [ ]:
even_numbers = [2, 4, 6, 8, 10, 12, 14]
print(even_numbers[2:5])  # Dikkat ettiğimiz üzere çıktısını da liste olarak verdi. Gerisinin mantığı stringlerde olduğu gibi.

[6, 8, 10]

In [ ]:
range(1, 11)  # Range function'ı iterable üretir. Çok kullaılır. Range(start, stop, step)
sayılarım = list(range(1,11))
sayılarım

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
diğer = list(range(1, 11, 2))  # 2'şer 2'şer atlayarak gidiyor. 
diğer

[1, 3, 5, 7, 9]

In [ ]:
list(range(11))  # Tek bir sayı yazarsak stop-1'i algılar. Yani start=0, step=+1 dir default olarak.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(11, 1, -1))

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
print(len([[1, 2, 3]][0]))

3

In [ ]:
# Listemizdeki tekli sayıları bulabilemek için yazdığımız kod. 
odd_numbers = list(range(11))

print(odd_numbers)
print(odd_numbers[1:11:2])  # 1 numaralı indeksten başla yani (1) ve 2'şer atlayarak devam et. Böylece tekli sayıları bulacağız.

In [ ]:
animals =  ["elephant", "bear", "fox", "wolf", "rabbit", "deer", "giraffe"]
print(animals[:])  # En baştan başla, en sonra kadar git diyor. Listenin kendisini verir.

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [ ]:
animals =  ["elephant", "bear", "fox", "wolf", "rabbit", "deer", "giraffe"]
print(animals[3:])  # 3 numaralı indeksten başla ve sona kadar git.

['wolf', 'rabbit', 'deer', 'giraffe']

In [ ]:
animals =  ["elephant", "bear", "fox", "wolf", "rabbit", "deer", "giraffe"]
print(animals[::2])  # En baştan başla, en son kadar git ve 2'şerli atlayarak git.

['elephant', 'fox', 'rabbit', 'giraffe']

In [ ]:
mix_list = [1, [1, "one", 2, "two", 3, "three"], 4]
mix_list[1][1::2]  # mix_list'in 1 numaralı elemanına ulaş ve içinden de "one", "two", "three" verilerini al.

['one', 'two', 'three']

In [ ]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]
print(city[-4])

London

In [ ]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]
print(city[1])

London

In [ ]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]
print(city[-3:])

['Istanbul', 'Seoul', 'Sydney']

In [ ]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]
print(city[:-3])

['New York', 'London']

In [ ]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]
print(city[::-1])

['Sydney', 'Seoul', 'Istanbul', 'London', 'New York']

In [ ]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]
print(city[:-2])

['New York', 'London', 'Istanbul']

In [ ]:
city = ["New York", "London", "Istanbul", "Seoul", "Sydney"]
print(city[::-2])

['Sydney', 'Istanbul', 'New York']

In [ ]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[7:3:-1])
print(letters[2:6:-1])

['h', 'g', 'f', 'e']
[]

Tuple: Değiştireilemez (Immutable) dır. Sayısını arttıramayız, yeni bir eleman ekleyemeyiz, eleman çıkaramayız ama tuple'ın elemanlarına nüfus ederek elemanları üzerinde oynayabiliriz.Tabi bu değiştirilemez özelliğini yine de değiştirmiyor. Listelerde olduğu gibi append metodu, sort metodu, remove metodu kullanılmadığı için yani arka planda çalışan bu fonksiyonlar daha az olduğu için daha az yer kaplarlar ve bundan dolayı da daha hızlı çalışırlar.Listelere göre içinden veri çekmek, indekslemek çok daha hızlıdır. İçine atarız ve öyle kalır tuple larda. GÜvenli bir alandır, IP numaraları, TC kimlik numaraları, bir sağlık kuruluşunun database'indeki özel rakamlar, şifreler, sigorta numaraları vb. bu tür değişmesini istemediğimiz verilen depolanmasında kullanılır. Ya da yanlışlıklada olsa kazara silinmesini, değişmesini önlemek istediğimiz bilgileri tuple ile kullanabiliriz. 

Bir tuple oluştururken iki şekilde yapabiliriz; 
()
tuple()

Tuple'lar içlerine iterable(elemanlarına ayrılabilen) veri alırlar. UNUTMAYALIM; Collection fonksiyonlar (list, tuple, set, dict) bunların hepsi iterable alır.

In [ ]:
import sys
x = [1, 2, 3]
y = (1, 2, 3)
print(sys.getsizeof(x))  # Liste ve tuple'ın kapladıkları alanları byte olarak kıyasladık. Aşağıda da gördüğümüz üzere tuple çok daha az yer kaplamakta. 
print(sys.getsizeof(y))

120
64

In [ ]:
tuple_1 = ("h", "a", "p", "p", "y")
word = "happy"
tuple_2 = tuple(word)
print(tuple(tuple_1))
print(tuple_1)
print(tuple_2)

('h', 'a', 'p', 'p', 'y')
('h', 'a', 'p', 'p', 'y')
('h', 'a', 'p', 'p', 'y')

In [ ]:
empty_tuple = ()
print(type(empty_tuple))
tuple()

<class 'tuple'>

()

In [ ]:
my_tuple = ("Solar")
print(my_tuple, type(my_tuple), sep="\n")

Solar
<class 'str'>

In [ ]:
a, b, c = 1, 2, 3
print(a)
print(b)
print(c)
print(a, b, c)

1
2
3
1 2 3

In [ ]:
x = 1, 2, 3  # Virgül ile ayırdığımız değerleri eğer parantez içinde yazmaz isek Python onu tuple olarak kabul eder. 
print(x)
type(x)

(1, 2, 3)

tuple

In [ ]:
y = "ali", "veli", "deli"
print(y)
type(y)

('ali', 'veli', 'deli')

tuple

In [ ]:
z = "ali"  # Tuple'da tek elemanlı olarak tanımlamak yetmiyor, mutlaka yanına en azından bir , (virgül) koymalıyız. 
type(z)

str

In [ ]:
z = "ali",  # Tek elemanlı tuple yapmak için bu şekilde tanımlamamız gerekir. 
print(z)
type(z)

('ali',)

tuple

In [ ]:
t = 1
type(t)

int

In [ ]:
t = 1,
type(t)

tuple

In [ ]:
solar = "Earth", "Venus", "Uranus"  # Parantez içinde değiller 
print(solar, type(solar), sep = "\n")

('Earth', 'Venus', 'Uranus')
<class 'tuple'>

In [ ]:
tuple(["solar"])  # İçindeki liste iterable'mı? Evet,Listemizin tek bir elemanı var o da "Solar".Bunu tuple yaparlen ise tek bir elemanı al tuple yap demek.
# Bunu yaparken ise tek bir elemanı alıp yanına virgül koyuyoruz, sonra da parantez ile kapatıyoruz.

('solar',)

## 8. DERS

Hatırlatma: Collection type lar, birden fazla veriyi depolayabilen veri tipleri. String, boolean, integer tek bir veri tipiydi. Bir değişken, bir değer alabiliyorlar. Collectionlar ise (List, Tuple, Set, Dict ) bunlar birdan falza tipte değer alabiliyorlar. İki tane integer'ı ya da string'i tek bir değişkene atamak istiyorsak bu list, tuple ya da set oluyor.

In [ ]:
# list to tuple, tuple to list

my_tuple = (1, 4, 3, 4, 5, 6, 7, 4)
my_list = list(my_tuple)
print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [ ]:
my_list = (1, 4, 3, 4, 5, 6, 7, 4)
my_tuple = list(my_list)
print(type(my_tuple), my_tuple)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [ ]:
mountain = tuple("Alps")
print(mountain)

('A', 'l', 'p', 's')

In [ ]:
tuple(range(1, 11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Just like the lists, the tuples support idexing

In [ ]:
even_no = (0, 2, 4)
print(even_no[0])
print(even_no[1])
print(even_no[2])
print(even_no[3])

0
2
4

IndexError: tuple index out of range

tuple is IMMUTABLE

In [ ]:
city_list = ["Tokyo","Istanbul", "Moscow", "Dublin"]
city_tuple =tuple(city_list)
city_tuple[0]

'Tokyo'

In [ ]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
sayılar = tuple(range(1,11))
sayılar

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
liste_sayılar = list(sayılar)
liste_sayılar

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
liste_sayılar[3] = 33  # Listelerde bu şekilde içine atama yapabiliyor ama istediğimiz veriyi ama tuple'larda bu şekilde yapamayız. 
liste_sayılar

[1, 2, 3, 33, 5, 6, 7, 8, 9, 10]

In [ ]:
liste_sayılar[-1] = "ten"
liste_sayılar

[1, 2, 3, 33, 5, 6, 7, 8, 9, 'ten']

In [ ]:
sayılar = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)  # tuple is immutable
sayılar[3] = 33

TypeError: 'tuple' object does not support item assignment

In [ ]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
print(mix_tuple)

('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))

In [ ]:
mix_tuple[2][2][0]

'six'

In [ ]:
print(type(mix_tuple[2]))

<class 'list'>

In [ ]:
mix_tuple[2].append(False)  # Tuple'lar immutable olmasına rağmen içindeki bir elemana ekleme, çıkarma yapabiliyoruz ama tuple'a yapamıyoruz.

In [ ]:
mix_tuple

('11', 11, [2, 'two', ('six', 6), False], (5, 'fair'))

In [ ]:
mix_tuple[2][2][0].upper()  # Stringler ımmutable (değiştirilemez) oldukları için bu sonuca özel olarak büyük harflidir ama asıl  tuple içinde değişmez.

'SIX'

In [ ]:
mix_tuple  # Burada da görüldüğü üzere değişmemiştir aslında.

('11', 11, [2, 'two', ('six', 6), False], (5, 'fair'))

In [ ]:
mix_tuple[2][1] = "TWO"  # Buradaki "two" değeri list içinde yer aldığı için değişiklik yapabildik ama tuple içinde yer alan bir değeri değiştiremiyoruz. 
mix_tuple

('11', 11, [2, 'TWO', ('six', 6), False], (5, 'fair'))

In [ ]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
str_six = mix_tuple[2][1:3]
print(str_six, type(str_six), sep="\n")

# ["two", ("six", 6)]
# <class 'list'>

['two', ('six', 6)]
<class 'list'>

In [ ]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
last_item = mix_tuple[-1]
print(last_item, type(last_item), sep="\n")

(5, 'fair')
<class 'tuple'>

In [ ]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
last_item = mix_tuple[-1][1]
print(last_item, type(last_item), sep="\n")

fair
<class 'str'>

## Dictionary : 
Çok kullanılan bir konudur. İki tane veri vardır yani veri çifti.  Her bir çift virgüller ile ayrılıyor. Her bir çifte item deniliyor. İterable'dır. Eleman sayısı ise 2'dir aşağıdaki örneğin. 
{key1 : value1,
key2  : value2}

{}  # Manuel olarka bu şekilde yaparız ya da aşağıdaki gibi. 
dict()

In [ ]:
print({"ali" : 33,
"deli" : 41,
"veli" : 1000})

{'ali': 33, 'deli': 41, 'veli': 1000}

In [ ]:
grocer1 = {"fruit" : "apple", "drink" : "water"}
grocer2 = dict(fruit="apple", drink="water")  # Dict fonksyonu içine yazılış diğerlerinde olduğu gibi değildir, biraz daha farklıdır.  
print(grocer1)
print(grocer2)

{'fruit': 'apple', 'drink': 'water'}
{'fruit': 'apple', 'drink': 'water'}

In [ ]:
first_dict = {1:"one", "two":2, False:[1,2,3], 1.5:("one", "two"), (1,2):"clarusway"}  # Burada da göreceğimiz üzere bir çok tipte key and value olabilmekte
first_dict

{1: 'one',
 'two': 2,
 False: [1, 2, 3],
 1.5: ('one', 'two'),
 (1, 2): 'clarusway'}

In [ ]:
second_dict = {[1,2]:"one", "two":2, False:[1,2,3], 1.5:("one", "two"), (1,2):"clarusway"}
second_dict  # Liste olarak key olduğunda kabul etmiyor ve hata veriyor.

TypeError: unhashable type: 'list'

In [ ]:
third_dict = {{1:2}:"one", "two":2, False:[1,2,3], 1.5:("one", "two"), (1,2):"clarusway"}
third_dict  # Key olarak dictionary'de dict kullanamıyoruz.

TypeError: unhashable type: 'dict'

In [ ]:
{1 : "bir"}

{1: 'bir'}

In [ ]:
dict(isim = "Ali, Deli, Veli")  Bizim burada tanımladığımız key(isim) kısmı, dictionary çıktısında stringe dönüyor.

{'isim': 'Ali, Deli, Veli'}

In [ ]:
dict(isim = "ali", isim = "deli")  # Aynı key'i birden fazla value'da kullanamıyoruz.

SyntaxError: keyword argument repeated: isim (2946282986.py, line 1)

In [ ]:
dict(sayılar = [1, 2, 3], harfler = {1 : "bir"})  # dict içindeki key'ler, çıktığı aldığımızda string oluyor.

{'sayılar': [1, 2, 3], 'harfler': {1: 'bir'}}

In [ ]:
state_capitals = {"Arkanas" : "Little Rock",
                  "Colorado" : "Denver",
                  "California" : "Sacramento",
                  "Georgia" : "Atalanta"
                  }

a = state_capitals["Colorado"]  # accessing method. Bu yöntem sayesinde dict içndeki bir değere key üzerinden ulaşabiliriz.
print(a, type(a), sep="\n")  # Value içinde ne varsa sonuçta da onu döndürür.

Denver
<class 'str'>

In [ ]:
state_capitals = {"Arkanas" : "Little Rock",
                  "Colorado" : "Denver",
                  "California" : "Sacramento",
                  "Georgia" : "Atalanta"
                  }

state_capitals["Virginia"] = "Richmord"  # adding a new item
print(state_capitals)

{'Arkanas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atalanta', 'Virginia': 'Richmord'}

In [ ]:
state_capitals = {"Arkanas" : "Little Rock",
                  "Colorado" : "Denver",
                  "California" : "Sacramento",
                  "Georgia" : "Atalanta"
                  }
state_capitals["Colorado"] = 123
print(state_capitals)

{'Arkanas': 'Little Rock', 'Colorado': 123, 'California': 'Sacramento', 'Georgia': 'Atalanta'}

## Hatırlatma!
 Key olarak list ve dict kabul etmiyor. Value olarak int, float, string, bool, list, tuple yapabiliriz, hepsi olmakta yani.

In [ ]:
family = {"name1" : "Ahmet",
          "name2" : "Mehmet",
          "name3" : "Ayşe"
          }  # Manuel tanımlama

In [ ]:
dict(name1 = "Ahmet", name2 = "Mehmet", name3 = "Ayşe")  # dict içinde kullanım

{'name1': 'Ahmet', 'name2': 'Mehmet', 'name3': 'Ayşe'}

In [ ]:
family["name4"] = "Elif"  # Bu çok kullanışlıdır, UNUTMA!!!
print(family)

{'name1': 'Ahmet', 'name2': 'Mehmet', 'name3': 'Ayşe', 'name4': 'Elif'}

In [ ]:
bi_örnek = {"ali" : 1, "deli" : 1, "veli" : 1}
bi_örnek

{'ali': 1, 'deli': 1, 'veli': 1}

In [ ]:
bi_örnek["ali"] += 1  # bi_örnek["ali"] = b_örnek["ali"] + 1, 2 kere açlıştırınca 2 arttırdı. 
bi_örnek

{'ali': 3, 'deli': 1, 'veli': 1}

In [ ]:
bi_örnek["deli"] += 1 
bi_örnek

{'ali': 3, 'deli': 2, 'veli': 1}

In [ ]:
dict_by_dict = dict(animal = "dog", planet = "neptun", number = 40, pi = 3.14, is_good = True)
dict_by_dict

# dict çıktısında yukarıda tanımladığımız keyler yani değişkenler (variable lar) string olur.

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True}

In [ ]:
dict_by_dict[animal]  # String olarak çağırmadığımız için hata verdi.

NameError: name 'animal' is not defined

In [ ]:
dict_by_dict["animal"]

'dog'

In [ ]:
type(dict_by_dict["is_good"])

bool

In [ ]:
dict_by_dict["is_good"]

True

In [ ]:
family = dict(name1 = "Ahmet", name2 = "Mehmet", name3 = "Ayşe")
print(family)

{'name1': 'Ahmet', 'name2': 'Mehmet', 'name3': 'Ayşe'}

In [ ]:
dict()

{}

In [ ]:
dict_by_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True}

## Main Operations with Dictionaries

Aşağıdakiler ise dictionary'nin metodlarıdır. 

- .items()
- .keys()
- .values()
- .update()

In [ ]:
dict_by_dict.update({"yasemin" : "bayan"})
dict_by_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'yasemin': 'bayan'}

In [ ]:
dict_by_dict.update({"Ahmet" : "bay", 11 : "integer"})  # Update metodu dictionary'i kalıcı olarak değiştirir, mutable'dır. 
dict_by_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'yasemin': 'bayan',
 'Ahmet': 'bay',
 11: 'integer'}

In [ ]:
dict_by_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'yasemin': 'bayan',
 'Ahmet': 'bay',
 11: 'integer'}

In [ ]:
print(dict_by_dict.items(), "\n")  # her bir key ve value değerini çift olacak şekilde tuple olarak yazdırır. 
print(dict_by_dict.keys(), "\n")  # "\n" ifadesi sayesinde ise bir sonraki satıra boşluk bırakır.
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True), ('yasemin', 'bayan'), ('Ahmet', 'bay'), (11, 'integer')])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good', 'yasemin', 'Ahmet', 11])

dict_values(['dog', 'neptun', 40, 3.14, True, 'bayan', 'bay', 'integer'])

## 9. DERS

- Herhangi bir object'in üstüne kurulan fonksiyonlara metod denir. 
- list(dictname.items()) => liste içerisine dict items tuple olarak atar.
- "in" True or False output verir. var mı yok mu kontrolü yapar.
- bootcamp = "c l a r u s w a y".split()  split komutu defult değeri her boşluktan bölüp liste yapar.() içine atama yapılırsa o değere göre böler.
- iç içe dictionary (nested) olabilir.
- len() dictionary lerde key sayısını verir.
- max() en yüksek int değerini döndürür.
- max(boşiterable, default = ) => eğer boş iterable da kullanılırsa default değerini döndürür.
- max(numbers, key = numbers.)    key parametresine fonksiyon atanması gerekir.
- max(numbers, key = numbers.count) #fonksiyonu numbers a tek tek uygula ve o çıkan sonucun en büyüğünü verir.
- numbers.count(max(numbers, key = numbers.count)) #en çok tekrar eden elemanın kaç kez tekrar ettiğini verir.

In [ ]:
dict_by_dict = {'animal':'dog',
			'planet': 'Neptun',
			'number': 40,
			'pi':3.14,
			'is_good': True}

print(dict_by_dict.items(), '\n')  # Buradaki "\n" bir alt satıra geçerken arada bir boşluk bıraktırıyor. 
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values(), '\n')

dict_items([('animal', 'dog'), ('planet', 'Neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'Neptun', 40, 3.14, True])

In [ ]:
dict_by_dict.items()

dict_items([('animal', 'dog'), ('planet', 'Neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

In [ ]:
x, y = dict_by_dict.items()

ValueError: too many values to unpack (expected 2)

In [ ]:
a, b = 1

TypeError: cannot unpack non-iterable int object

In [ ]:
list(dict_by_dict.items())

[('animal', 'dog'),
 ('planet', 'Neptun'),
 ('number', 40),
 ('pi', 3.14),
 ('is_good', True)]

In [ ]:
items = list(dict_by_dict.items())

In [ ]:
x, y = items[0]  # Buradaki 0 numaralı indeks içinde 1'den falz değer olduğu için atama gerçekleşti.

In [ ]:
x

'animal'

In [ ]:
y

'dog'

In [ ]:
x, y = "animal", "dog"

In [ ]:
dict_by_dict.keys()

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

In [ ]:
tuple(dict_by_dict.keys())

('animal', 'planet', 'number', 'pi', 'is_good')

In [ ]:
dict_by_dict.values()

dict_values(['dog', 'Neptun', 40, 3.14, True])

In [ ]:
set(dict_by_dict.values())

{3.14, 40, 'Neptun', True, 'dog'}

In [ ]:
family = {'name1': 'Joseph', 
          'name2': 'Bella',
          'name3': 'Aisha',
          'name4': 'Tom'
         }

In [ ]:
family

{'name1': 'Joseph', 'name2': 'Bella', 'name3': 'Aisha', 'name4': 'Tom'}

In [ ]:
list(family.items())

[('name1', 'Joseph'), ('name2', 'Bella'), ('name3', 'Aisha'), ('name4', 'Tom')]

In [ ]:
list(family.keys())

['name1', 'name2', 'name3', 'name4']

In [ ]:
list(family.values())

['Joseph', 'Bella', 'Aisha', 'Tom']

In [ ]:
family["name5"] = "idris"  # Bu çok kullanılır, DİKKAT ET. Hiç olmayan bir değişkene bir değer atıyoruz.

In [ ]:
family

{'name1': 'Joseph',
 'name2': 'Bella',
 'name3': 'Aisha',
 'name4': 'Tom',
 'name5': 'idris'}

In [ ]:
family.update({"name6" : "buşra"})  # update metodu ile aynı anda birden çok eleman ekleyebiliriz. Update içinde dict olarak yazıyoruz.

In [ ]:
family

{'name1': 'Joseph',
 'name2': 'Bella',
 'name3': 'Aisha',
 'name4': 'Tom',
 'name5': 'idris',
 'name6': 'buşra'}

In [ ]:
family.update({"name2" : "elizabeth"})  # Mevcut key deki value değerini değiştirdik.

In [ ]:
family

{'name1': 'Joseph',
 'name2': 'elizabeth',
 'name3': 'Aisha',
 'name4': 'Tom',
 'name5': 'idris',
 'name6': 'buşra'}

In [ ]:
family["name5"] = "osman"

In [ ]:
family

{'name1': 'Joseph',
 'name2': 'elizabeth',
 'name3': 'Aisha',
 'name4': 'Tom',
 'name5': 'osman',
 'name6': 'buşra'}

In [ ]:
# del bir keyword, fonksiyon değildir? Bu keyword'ün yanına boşluk ve indeksleme yapıyoruz.  
del family["name1"]  # İndeks içine sadece key yazıyoruz.

In [ ]:
family

{'name2': 'elizabeth',
 'name3': 'Aisha',
 'name4': 'Tom',
 'name5': 'osman',
 'name6': 'buşra'}

In [ ]:
# Aynı anda iki tane simek istediğimizde yan yana virgül ile.  

del family["name3"], family["name5"]

In [ ]:
family

{'name2': 'elizabeth', 'name4': 'Tom', 'name6': 'buşra'}

In [ ]:
a = "clarusway"

In [ ]:
print(a)

clarusway

In [ ]:
del a  # Bir değişkeni niye silme ihtiyacı duyarız ki, kullanmayız biter ? İşimize yaramayan veriler hafızda çok yer tutmasın diye.

In [ ]:
print(a)  # Sildiğini teğit ettik.

NameError: name 'a' is not defined

In [ ]:
# Herhangi bir iterable içinde herhangi bir eleman var mı yok mu bu kontrol etmemize yarar. 
in  # True ya da False output veren bir keyword'dür.

In [ ]:
"i" in "clarusway"  # Clarusway içinde string i harfi var mı diye soru soruyoruz.

False

In [ ]:
"a" in "clarusway"

True

In [ ]:
"A" in "clarusway"  # Büyük harf, küçük harf duyarlılığı vardır.

False

In [ ]:
# - lerden böl ve her böldüğün string parçasını listenin elemanları haline getir.  
"ali-deli-veli".split("-")  # Nereden bölmesini istiyorsak parantez içine onu koyuyoruz.

['ali', 'deli', 'veli']

In [ ]:
bootcamp = "c l a r u s w a y".split()  # Bunu çok kullanırız. Aralarındaki boşluklardan listeye çeviriyoruz.

In [ ]:
bootcamp  # Kolay liste yapma yöntemi

['c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [ ]:
"a" in bootcamp  # bootcamp iterable olduğu için elemanları arasında arama yapıyor, kontrol ediyor.

True

In [ ]:
# Aynı şekilde dict ler içinde de yapabiliriz. 

dict_by_dict

{'animal': 'dog',
 'planet': 'Neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True}

In [ ]:
"dog" in dict_by_dict  # in metodu sadece key olarak bakıyor.

False

In [ ]:
"planet" in dict_by_dict # key'e baktığı için True

True

In [ ]:
"dog" in dict_by_dict.values()  # Value lar arasından da bu şekilde bakabiliriz.

True

In [ ]:
not True

False

In [ ]:
"dog" not in dict_by_dict  # dog içinde yok mu ? diye soruyoruz not in diyerek.

True

In [ ]:
school_records={
	'personal_info':
		{'kid':{'tom':{'class':'intermediate', 'age':10},
			'sue':{'class':'elemantary', 'age':8}
			},
		'teen':{'joseph':{'class':'college', 'age':19},
			'marry':{'class':'high school', 'age':16}
			},
		},
	'grades_info':
		{'kid':{'tom':{'math':88, 'speech':69},
			'sue':{'math':90, 'speech':81}
			},
		'teen':{'joseph':{'coding':80, 'math':89},
			'marry':{'coding':70, 'math':96}
			},
		}
}

In [ ]:
len(school_records)  # Len iterable alır eleman sayısını verir.

2

In [ ]:
school_records["personal_info"]

{'kid': {'tom': {'class': 'intermediate', 'age': 10},
  'sue': {'class': 'elemantary', 'age': 8}},
 'teen': {'joseph': {'class': 'college', 'age': 19},
  'marry': {'class': 'high school', 'age': 16}}}

In [ ]:
type(school_records["personal_info"])

dict

In [ ]:
len(school_records["personal_info"])

2

In [ ]:
school_records['grades_info']

{'kid': {'tom': {'math': 88, 'speech': 69}, 'sue': {'math': 90, 'speech': 81}},
 'teen': {'joseph': {'coding': 80, 'math': 89},
  'marry': {'coding': 70, 'math': 96}}}

In [ ]:
school_records["personal_info"]["kid"]

{'tom': {'class': 'intermediate', 'age': 10},
 'sue': {'class': 'elemantary', 'age': 8}}

In [ ]:
len(school_records["personal_info"]["kid"])

2

In [ ]:
school_records["personal_info"]["kid"]["tom"]

{'class': 'intermediate', 'age': 10}

In [ ]:
school_records["personal_info"]["kid"]["tom"]['age']  # Key ne ise onunla indeksleyebiliriz. Direk sayı yazamayız.

10

In [ ]:
school_records['grades_info']["teen"]["joseph"]

{'coding': 80, 'math': 89}

In [ ]:
print(list(school_records['grades_info']["teen"]["joseph"].items()))

[('coding', 80), ('math', 89)]

## The most frequent element

In [ ]:
numbers = [-1, 3, 7, 4, 3, 0, 3, 16, 3, 7, 0, 0, 1]

In [ ]:
max(numbers)  # iterable içindeki elemanlardan birini döndürüyor.

16

In [ ]:
max(2, 3, 5)

5

In [ ]:
empty = []  # Boş bir iterable'ın max alırken default'a ne tanımlamışsak onu döndürür. 

max(empty, default = "Boş")

'Boş'

In [ ]:
max(empty, default = True)

True

In [ ]:
max(empty, default = 22)

22

In [ ]:
empty = ()

In [ ]:
max(empty, default = 22)

22

In [ ]:
sequence = [1, 1, 1, 1, 2, 2, 2, 3, 3, 4]

In [ ]:
max(sequence)

4

In [ ]:
sequence.count(4)

1

In [ ]:
sequence.count(1)

4

In [ ]:
sequence.count(3)

2

In [ ]:
sequence.count(2)

3

In [ ]:
numbers

[-1, 3, 7, 4, 3, 0, 3, 16, 3, 7, 0, 0, 1]

In [ ]:
max(numbers)

16

In [ ]:
numbers.count(16)

1

In [ ]:
numbers.count(max(numbers))

1

In [ ]:
max(numbers, key = numbers.count)  # fonksiyonu numbers a tek tek uygula ve o çıkan sonucun en büyüğünü verir.

3

In [ ]:
numbers.count(max(numbers, key = numbers.count))  #en çok tekrar eden elemanın kaç kez tekrar ettiğini verir.

4

In [ ]:
numbers.count(max(numbers, key = numbers.count))

4

In [ ]:
sehirler = ["istanbul", "van", "ağrı", "ankara"]

In [ ]:
sorted(sehirler)

['ankara', 'ağrı', 'istanbul', 'van']

In [ ]:
sorted(sehirler, key = len)

['van', 'ağrı', 'ankara', 'istanbul']

In [ ]:
sorted(sehirler, key = len, reverse  = True)  # #sehirler listesine(iterable) len fonksiyonunu çalıştır, ters sırala.(büyükten küçüğe)

['istanbul', 'ankara', 'ağrı', 'van']

In [ ]:
sehirler.sort(key  = len)
sehirler

['van', 'ağrı', 'ankara', 'istanbul']

## 10. DERS

## SETS
Tekrar eden eleman yoktur (No repetition) - Örneğin bir listeyi kümeye çevirdiğimizde sadece uniqe olanları alır, tekrar edenleri almaz. 
Matematiksel küme operasyonları yapabiliriz. Sonuçta da yine küme çıktısı verir! (Union-Birleşim, İntersection-Kesişim, difference-fark)
Unordered'dırlar. - Biz bir küme oluşturduğumuzda, o kümenin elemanlarını farklı şekilde sıralayabilir, kendi algoritmasına bağlıdır. 

Bu iki yöntem ile oluşturulur. 
{}
set() - Her zaman ki gibi iterable verileri içine alır. 

list(), tuple(), dict(), set() bunların hepsi iterable alırlar

In [ ]:
set_1 = {'red', 'blue', 'pink', 'red'}  # Dikket ettiğimiz üzere aynı elemandan 2 adet var manuel olarak yazdığımızda. 
colors = 'red', 'blue', 'pink', 'red' # Dikkat, buradaki colors ifadesi aslında bir tuple'dır. Parantez koymasak bile tuple olarak algılar python. 
set_2 = set(colors)  # Bir fonksiyon içine eleman koymaya (Burada olduğu gibi) "pass an argument" denir. 
print(set_1)
set(colors)  # Set komutu ile yazdırdığımızda rastgele sıra ile çıktı vermekte ve 2 adet olanları tek bir tane yazdırmakta.

{'red', 'blue', 'pink'}

{'blue', 'pink', 'red'}

In [ ]:
empty_set = set()  # Boş küme 

print(empty_set)
print(type(empty_set))
type(empty_set)

set()
<class 'set'>

set

In [ ]:
flower_list = ["rose", "violet", "carnation", "rose", "orchid", "rose", "orchid"]
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerset)
print(flowerlist)

{'orchid', 'carnation', 'violet', 'rose'}
['orchid', 'carnation', 'violet', 'rose']

In [ ]:
ilk_kumem = {1, 1, 2, 0, 1}  # süslü parantez ile manuel bir küme oluşturduk.
ilk_kumem

{0, 1, 2}

In [ ]:
len([1, 1, 2, 0, 1])

5

In [ ]:
len({1, 1, 2, 0, 1})  # len fonksiyonu iterable'lar ile kullanıldığı için içine küme attık ve sadece uniqe lerini aldı.

3

In [ ]:
letter = "a b c d e f g h i j k l m n o p r s t u w v y z".split()  # Arada boşluk koyarak split fonsiyonunu kullanınca direk listeye çevirir. 
print(letter)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'w', 'v', 'y', 'z']

In [ ]:
print(set(letter))  # Kümeye çevirdiğimizde karışık olarak verir.

{'k', 't', 'd', 'p', 'i', 'y', 'o', 'n', 'm', 'f', 's', 'r', 'u', 'h', 'g', 'a', 'l', 'j', 'w', 'e', 'c', 'z', 'v', 'b'}

In [ ]:
print(set(letter))  # restart edilmiş hali ve sıra yine değişti sıralama

{'k', 't', 'd', 'p', 'i', 'y', 'o', 'n', 'm', 'f', 's', 'r', 'u', 'h', 'g', 'a', 'l', 'j', 'w', 'e', 'c', 'z', 'v', 'b'}

In [ ]:
şöyle_birşey = {1, "1", 1.0}  # 1 = 1.0 dır set için. Görsel olarak farklı gibi olsada bu duruma dikkat. 
len(şöyle_birşey)

2

In [ ]:
1 == "1"

False

In [ ]:
1 == 1.0

True

In [ ]:
given_list = [1, 2, 3, 4, 5]  # Listeyi manuel olarak direk küme içine aldığımızda olmamakta.
kumemiz = {given_list}

TypeError: unhashable type: 'list'

In [ ]:
given_list = 1, 2, 3, 4, 5  # Küme içine tuple olmasına izin veriyor ama. 
kumemiz = {given_list}
print(kumemiz)

{(1, 2, 3, 4, 5)}

In [ ]:
given_list = [1, 2, 3, 4, 5]  
kumemiz = set(given_list)  # Bir list'i kümeye çevirebiliriz bu şekilde ama direk süslü parantez içinde yazamayız yukarıdaki gibi. 
print(kumemiz)

{1, 2, 3, 4, 5}

In [ ]:
{[1, "bir"], 1, 2} # İçinde liste olduğu için ve liste birden fazla değerden oluştuğu için, aynı zaman da mutable oluduğu için hata veriyor.

TypeError: unhashable type: 'list'

In [ ]:
 {{1: "bir"}, 1, 2}  # Yine aynı şekilde manuel bir küme içinde dict'de olamıyor.

TypeError: unhashable type: 'dict'

In [ ]:
{1, 2, {"ali", "veli"}, 3, 4}  # # Yine aynı şekilde manuel bir küme içinde dict'de olamıyor.

TypeError: unhashable type: 'set'

In [ ]:
tuple_set = {1, 2, (3, 4)}  # Sırasını değiştirdi ama tuple yaptı. 
tuple_set

{(3, 4), 1, 2}

Main Operations with sets (review)

In [ ]:
a = {'carnation', 'archid', 'rose', 'viole'}
b = {'rose', 'carnation', 'archid', 'rose', 'viole'}
print(a, b, sep="\n")

{'carnation', 'archid', 'rose', 'viole'}
{'carnation', 'archid', 'rose', 'viole'}

In [ ]:
a.add("lily") # İstediği herhangi bir yere "lily" eklendi. 
a

{'archid', 'carnation', 'lily', 'rose', 'viole'}

In [ ]:
a = set("philadelphia")
b = set("dolphin")
print(a, b, sep="\n")

{'e', 'l', 'a', 'd', 'i', 'p', 'h'}
{'o', 'n', 'l', 'd', 'i', 'p', 'h'}

In [ ]:
print(a-b)
print(a.difference(b))  # Bunların her ikisi de a'nın b'den farkı demektir. (a fark b)

{'a', 'e'}
{'a', 'e'}

In [ ]:
print(b-a)  # Bunların her ikisi de b'nın a'den farkı demektir. (b fark a)
print(b.difference(a))

{'n', 'o'}
{'n', 'o'}

In [ ]:
print(a | b)  # Birleşim olduğunda ise | (vertical bar) kullanıyoruz. 
print(b | a)  # Her üçü de birbirine eşittir.
print(a.union(b))
print(b.union(a))

{'e', 'o', 'n', 'l', 'a', 'd', 'p', 'i', 'h'}
{'e', 'o', 'n', 'l', 'a', 'd', 'p', 'i', 'h'}
{'e', 'o', 'n', 'l', 'a', 'd', 'p', 'i', 'h'}
{'e', 'o', 'n', 'l', 'a', 'd', 'p', 'i', 'h'}

In [ ]:
print(a & b)  # Kesişim olduğunda ise & ile ifade edilir. 
print(b & a)  # Herbiri birbirine eşittir.
print(a.intersection(b))
print(b.intersection(a))

{'l', 'd', 'p', 'i', 'h'}
{'l', 'd', 'p', 'i', 'h'}
{'l', 'd', 'p', 'i', 'h'}
{'l', 'd', 'p', 'i', 'h'}

In [ ]:
date1 = set("02/21/2022")  # Burada set foksiyonu sayesinde iterable'ı elemanlarına ayırıyoruz ve kümeye dönüştürüyoruz ama aşağıda; 
date2 = {"02/21/2022"}  # Direk süslü parantez içinde tek bir string eleman yer almaktadır. 

print(date1)
date2

{'/', '2', '1', '0'}

{'02/21/2022'}

In [ ]:
date2

{'02/21/2022'}

In [ ]:
given_list = [1, 2, 3, 3, 3, 3, 4, 4, 5, 5]  # Herhangi bir collection'nın sadece uniqe elamanlarını görmek istiyorum dediğiniz de direk set fonksiyonunu kullanmalıyız. 
unique = set(given_list)  # Burada direk {given_list} yapmak istediğimizde hata veriyordu, UNUTMA. 
print(unique)

{1, 2, 3, 4, 5}

In [ ]:
new_zeland = set("Wellington")
us = set("washington")

print(new_zeland)
print(us, "\n")

print(new_zeland - us) # new_zeland fark us
print(new_zeland.difference(us), "\n")

print(us - new_zeland)  # Us fark new_zeland
print(us.difference(new_zeland), "\n")

print(new_zeland & us)  # new_zeland kesişim us
print(new_zeland.intersection(us), "\n")

print(new_zeland | us)  # new_zeland birleşim us
print(new_zeland.union(us))

{'e', 'g', 'o', 'n', 't', 'l', 'W', 'i'}
{'w', 'g', 'o', 'n', 't', 'a', 'i', 's', 'h'}

{'l', 'e', 'W'}
{'l', 'e', 'W'}

{'w', 'a', 'h', 's'}
{'w', 'a', 'h', 's'}

{'g', 'o', 'n', 't', 'i'}
{'g', 'o', 'n', 't', 'i'}

{'w', 'e', 'g', 'o', 'n', 't', 'l', 'W', 'a', 's', 'i', 'h'}
{'w', 'e', 'g', 'o', 'n', 't', 'l', 'W', 'a', 's', 'i', 'h'}

## CONTROL FLOW STATEMENTS

Python kodlarımızı kontrol etmemize yarayan, istediğimiz doğrultuda yönlendirmemizi sağlayan, istediğimiz şartlarda çalışmasını, istemediğimiz şartlarda çalışmamasını sağlayan, istediğimiz kadar tekrar etmesini sağlamamıza imkan veren kodlar bütünüdür.

IF : Koşullu yapılardır, belirli koşullar sağlanınca çalışır, sağlanmayınca çalışmaz. Aşağıdaki formül yapısında kullanılır. 

if condition : 
    body  
    
if satırından sonra mutlaka 4 adet boşluk bıraktığımız girinti yer almalıdır. 
condition kısmında mutlaka boolean gibi bir iafe yer almalıdır. (True, False, Turty, Falsy) İlla blooean tipinde olmak zorunda değildir.

In [ ]:
sayılar = [1, 2, 3, 4, 5]
print(sayılar[0])
print(sayılar[1])
print(sayılar[2])  # Normalde tek tek bu şekilde yazmamız gerekir. 
print(sayılar[3])
print(sayılar[4])

1
2
3
4
5

>, <, >=, <=, == bunlar her zaman boolean sonuç verirler.

In [ ]:
a = 3
b = 0

In [ ]:
b > a  # b büyük müdür a'dan diye soru soruyoruz (Büyük olmadığı için de False veriyor cevap)

False

In [ ]:
if b > a :  # Burada eğer bu koşulumuz True döndürüyorsa bir alt satırdaki ifadeyi yazdır diyoruz, ama eğer False döndürüyor ise en alttaki satırı. 
    print("hello")  # Yani True verdiğinde bu body kımsını çalıştırır, aksi halde body'den çıkar. 
print("ali")

ali

In [ ]:
if condition : 
    body1
    body2
outbody

In [ ]:
if "0" : 
    print("hello world")
print("print me in all cases")

hello world
print me in all cases

In [ ]:
if "0" and "" :
    print("hello world")

In [ ]:
if 0 or "False" and None : 
    print("hello universe")

In [ ]:
if 1 :  # Truty olduğu için altındaki print'i çalıştırır. 
    print("clarusway")

clarusway

In [ ]:
if -1 :  # Truty olduğu için altındaki print'i çalıştırır. 
    print("hello")

hello

In [ ]:
if [""] :  # Burada boş bir liste yok, her ne kadar boş bir string de olsa içinde, sonuçta dolu bir liste, o yüzden truty. 
    print("hello")

hello

In [ ]:
if True : 
    print("it is true")

it is true

In [ ]:
minced_meat = True
hamburger_bread = True
lettuce = False
pepper = True
grocery_store = True

hamburger = minced_meat and hamburger_bread and (lettuce or pepper) and grocery_store

if hamburger : 
    print("Bon Appetit")

Bon Appetit

In [ ]:
1 == 1.0

True

In [ ]:
3 > 3

False

In [ ]:
3 >= 3

True

In [ ]:
if "ali" != "deli" :  # Sonuç true olduğu için veli'yi yazdırır. 
    print("veli")

veli

In [ ]:
if "ali" == "Ali" :  # Sonuç false olduğu için çıktı vermez. 
    print("deli")

In [ ]:
# input fonksiyonunda kullanıcıdan ne tip bir veri alırsak alalım tipi string'dir. String'de olsa, integer'da olsa alınan veri hep stringdir. 
type(input("bir şey yaz :"))  # Klavyeden ne girersek girelim sonuç string'dir.

str

Comparison Operators

In [ ]:
a = set("TWELVE PLUS ONE")
b = set("ELEVEN PLUS TWO")

print(a == b)

True

In [ ]:
word = input("Please enter Yes or No?").title().strip() == "Yes"

if word :
    print("You entered", word)
print("You entered", word)

You entered True
You entered True

In [ ]:
# Kullanıcı hepsi küçük ya da hepsi büyük yes yazar ise onu istediğimiz formata çevirmek için title kullandık (baş harf büyük)
# Kullanıcı ekstradan boşluk vb girdise onları kırpsın diye strip kullandık.  

word = input("Please enter Yes or No?").title().strip() == "Yes" # input içerisinden bize gelecek olan veri string olduğu için string metodlarını uyguladık.
print("You entered", word)

You entered True

In [ ]:
print(f"You entered {input('Please enter Yes or No?').title().strip() == 'Yes'}")

You entered False

## 11. DERS

IF-ELSE

In [ ]:
if condition1: 
    execute body1
else :
    execute body2

In [ ]:
course = "clarusway"
if course == "clarusway" :  # Bu kurs clarusway'e mi eşit ? 
    print("you guaranteed the job")
else : 
    print("think about it again")

you guaranteed the job

In [ ]:
number = 5 
if number <= 3 : 
    print("Number is smaller than or equal to 3")
else : 
    print("Number is bigger than 3")

Number is bigger than 3

In [ ]:
number = int(input("Please enter a number :"))
if number % 2 == 0 :
    print(number, "is even")
else :
    print(number, "is odd")

12 is even

In [ ]:
number = float(input("Please enter a number except 0 :"))
if number < 0 :
    print("{} is negative number".format(number))
else : 
    print("{} is positive number".format(number))

3.0 is positive number

In [ ]:
number1 = float(input("Please enter a first number :"))
number2 = float(input("Please enter a second number :"))
if number1 > number2 :
    print(f"{number1} is the large number")
else :
    print(f"{number2} is the large number")

35.0 is the large number

In [ ]:
bool_value = True

if bool_value :
    print("Yes")
else :
    print("No")

Yes

IF - ELIF - ELSE

In [ ]:
if condition1:
    execute body1
elif condition2:
    execute body2
else:
    execute body3

In [ ]:
audience = "baby"

if audience == "kid" :
    print("it is free to go to cinema")
elif audience == "teen" :
    print("discounted price!")
elif audience == "adult" :
    print("normal price")
else : 
    print("No such audience, stay at your home")

No such audience, stay at your home

In [ ]:
num_1 = float(input("Enter first number :"))
num_2 = float(input("Enter second number :"))
num_3 = float(input("Enter third number :"))

if (num_1 > num_2) and (num_1 > num_3) : 
    print(f"The largest number is {num_1}")
elif (num_2 > num_1) and (num_2 > num_3) : 
    print(f"The largest number is {num_2}")
else :
    print(f"The largest number is {num_3}")

The largest number is 35.0

In [ ]:
first_number = float(input("Lütfen 1. sayıyı giriniz?"))
seccond_number =float(input("Lütfen 2. sayıyı giriniz?"))
third_number = float(input("Lütfen 3. sayıyı giriniz?"))
if (first_number > seccond_number) and (first_number > third_number) :
    largest = first_number
elif (seccond_number > first_number ) and (seccond_number > third_number) :
    largest = seccond_number
else :
    largest = third_number

print(("The largest number is:"),largest)

The largest number is: 25.0

In [ ]:
number = float(input("Enter a number :"))
if number > 0 : 
    print("{} is positive number".format(number))
elif number == 0 : 
    print("{} is notr".format(number))
else :
    print("{} is negative number".format(number))

25.0 is positive number

In [ ]:
exam_score = float(input("Öğrencinin sınav notunu giriniz?"))
if exam_score >= 95 :
    print("A+")
elif exam_score < 95 and exam_score >= 90 :
    print("A")
elif exam_score < 90 and exam_score >= 85 :
    print("B+")
elif exam_score < 85 and exam_score >= 80 :
    print("B")
else:
    print("B-")

B-

NESTED STRUCTURE OF PRE-CLASS EXAMPLES

In [ ]:
audience_group = "kid", "teen", "adult"
audience = "teen"

if audience in audience_group : 
    if audience == "kid" : 
        print("it is free to go to cinema")
    elif audience == "teen" : 
        print("discounted price!")
    else :
        print("normal price")

else :
    print("No such audience, stay at home!")

discounted price!

In [ ]:
score = int(input('enter student\'s number :'))
if score >= 90 : 
    if score >= 95 :
        print("Student's degree is A+")
    else :
        print("student's degree is A")
elif score >= 80 :
    if score >= 85 :
        print("Student's degree is B+")
    else :
        print("student's degree is B")
else : 
    print("Below B")

student's degree is B

In [ ]:
score = int(input('enter student\'s number :'))
if score >= 90 : 
    if score >= 95 :
        score_letter = "A+"
    else :
        score_letter = "A"
elif score >= 80 :
    if score >= 85 :
        score_letter = "B+"
    else :
        score_letter = "B"
else : 
    print("Below B")
print("Your degree:", score_letter)

Your degree: B+

In [ ]:
# NESTED olmadan boolean olarak çözümü (Kendime ait)

exam_score = float(input("Öğrencinin sınav notunu giriniz?"))
if exam_score >= 95 :
    print("A+")
elif exam_score < 95 and exam_score >= 90 :
    print("A")
elif exam_score < 90 and exam_score >= 85 :
    print("B+")
elif exam_score < 85 and exam_score >= 80 :
    print("B")
else:
    print("B-")

B

## LOOPS

While Loop : Bir condition vardır yani TRUE, FALSE vardır. Eğer bir condition eğer TRUE ise sürekli devam eder kod bloğu içinde. Condition FALSE'a döndüğü anda body'den çıkıyor. 
For Loop : Sayı sayıyor, mesela bir iterable'ın eleman sayısı üzerinde iterate ediyorsak ve eleman sayısı 5 ise 5 kere kodumuzu çalıştırıyor. Eğer 1000 ise 1000 kere kodumuzu çalıştırıyor. O sayıyı bitirene kadar iterate ediyor (yeniliyor) Sırayla teker teker kod bloğunu çalıştırır.

While Loop

In [ ]:
while conditions :  # While condition'ı TRUE döndüğü sürece alt kısmındaki body de yer alanları sürekli çalıştırır. False olduğunda durur. 
    body

In [ ]:
while 0 :  # Buradaki condition 0 olduğu için Falsy'dir ve döngüye girmez. 
    print("sıfır")

In [ ]:
number = 0
while number < 6 :
    print(number)
    number += 1
print("now, number is bigger or equal to 6")

0
1
2
3
4
5
now, number is bigger or equal to 6

In [ ]:
condition = 5  # False'a eşit olamadığı için sonsuz döngüye girer. 
while condition :
    print(condition)

In [ ]:
condition = 5  # False'a eşit olamadığı için sonsuz döngüye girer. Sonsuz döngüden çıkabilmek için ise break yapıyoruz.  
while True :
    condition -= 1
    print(condition)
    
    if condition == 0 :
        break

4
3
2
1
0

## 12. DERS

In [ ]:
while condition1 :
    body1
    while condition2 : 
        body2
        break
    break

In [ ]:
my_list = ["a", "b", "c", "d", "e"]
a = 0
while a < len(my_list) : 
    print("square of {} is : {}".format(a, a**2))
    a += 1

square of 0 is : 0
square of 1 is : 1
square of 2 is : 4
square of 3 is : 9
square of 4 is : 16

In [ ]:
"cka".isnumeric()

False

In [ ]:
user_age = input("Enter your age :")

while not user_age.isdigit() :
    print("You entered incorrectly")
    user_age = input("Enter your age again :")


print("Thank you")

You entered incorrectly
You entered incorrectly
Thank you

In [ ]:
yaş = "onanltı"
yaş.isdigit()  # Girilen tüm değerlerin string olarak 0,1,2,...9 olmasını istiyor.

False

In [ ]:
age = input("how old are you?")

while not age.isdigit() : 

    print("You entered incorrectly")

    age = input("Enter your age please")

print("Great! You entered valid input")

Great! You entered valid input

In [ ]:
number = 15
guess_number = int(input("Aklımdaki sayıyı tahmin et?"))

while number > guess_number :
    print("Bilemedin")
    guess_number = int(input("Biraz yukarı, tekrar tahmin et?"))
    while number < guess_number :
        print("Bilemedin")
        guess_number = int(input("Biraz aşağı, tekrar tahmin et?"))

if number == guess_number :
        print("Tebrik ederim, bildin")

Bilemedin
Bilemedin
Bilemedin
Tebrik ederim, bildin

In [ ]:
number = 15

while True :
    guess = int(input("enter a number : "))
    if guess < number :
        print("Little higher...") 
    
    elif guess > number :
         print("Little lower...")
   
    else :
        print("Are you a MINDREADER!!")
        break

Little lower...
Are you a MINDREADER!!

In [ ]:
sentence = input("Please enter a sentence at least 2 word :")
list_sentence = sentence.split()
lenght_list = len(list_sentence)
lengt_assume = 0
longest = 0

while lengt_assume < lenght_list :
    if len(list_sentence[lengt_assume]) > longest :
        longest = len(list_sentence[lengt_assume])

    lengt_assume += 1
print("The lenght of the longest word is", longest)

The lenght of the longest word is 9

In [ ]:
sentence = input("Enter a sentence at least 2 word?")
word_list= sentence.split()
longest = 0
i = 0
while i < len(word_list) :
    if len(word_list[i]) > longest :
            longest = len(word_list[i])

    i += 1

print("The lenght of the longest word : ", longest)

The lenght of the longest word :  8

## FOR LOOP 
Burada bir şart ya da koşul yoktur. Sadece bir iterable var ve bu iterable'ın değişkene (variable) atanması durumu var.

In [ ]:
for variable in iterable : 
    body

In [ ]:
for i in [1, 2, 3, 4, 5] :
    print(i)  # Bu bizim code body miz.

1
2
3
4
5

In [ ]:
benim_listem = ["ali", "deli", "veli"]
print(benim_listem[0])
print(benim_listem[1])
print(benim_listem[2])  # Normalde tek tek bu şekilde yazdırmamız gerekirken for ile tek bir kere de yazdırabiliriz.

ali
deli
veli

In [ ]:
benim_listem = ["ali", "deli", "veli"]
for i in benim_listem :
    print(i)

ali
deli
veli

In [ ]:
names = ["Ahmed", "Aisha", "Adam", "Joseph", "Beyza"]
for name in names : 
    print("Hello", name)

Hello Ahmed
Hello Aisha
Hello Adam
Hello Joseph
Hello Beyza

In [ ]:
names = ["Ahmed", "Aisha" "Adam", "Joseph", "Gabriel"]
for name in names:
    print(f"Hello {name}")

Hello Ahmed
Hello AishaAdam
Hello Joseph
Hello Gabriel

In [ ]:
names = ["Ahmed", "Aisha" "Adam", "Joseph", "Gabriel"]
for name in names:
    print("Hello {}".format(name))

Hello Ahmed
Hello AishaAdam
Hello Joseph
Hello Gabriel

In [ ]:
List_range = list(range(1,6))

In [ ]:
for i in List_range : 
    print(i)

1
2
3
4
5

In [ ]:
numbers = []  # Boş liste oluşturduk ve içine eleman atacağız. 
for i in range(1, 6) : 
    numbers.append(i)
    print(numbers)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

Aşağıda elemanlarına ayrılabilen metodlar yer almaktadır. Yani iterable lar. 

str
list
tuple
dict
set

In [ ]:
for i in "ali" :
    print(i)

a
l
i

In [ ]:
for i in 5 :
    print(i)

TypeError: 'int' object is not iterable

In [ ]:
word = input("enter a word")
counter = 0
for i in word : 
    counter += 1
    if counter < len(word) :
        i += "-"
    print(i, end = "")

c-l-a-r-u-s-w-a-y

## 13. DERS

In [ ]:
user = {
    "name" : "Daniel", 
    "surname" : "Smith", 
    "age" : 35
}
for attribute in user :   #Sadece keyler gelir. 
    print(attribute)

name
surname
age

In [ ]:
user = {
    "name" : "Daniel",   # for döngüleri iterable'ın uzunluğu kadar iterate (tekrar eder) eder. 
    "surname" : "Smith", 
    "age" : 35
}
for i in user.values() :   
    print(i, end =" ")

Daniel Smith 35

In [ ]:
for i in "abc"  :  # Buradaki i değişkenini illa ki kod bloğumuz içinde kullanmak zorunda değiliz. "abc" string ifadesi iterable olduğu için ve  
    print("hello")  # uzunluğu da 3 olduğu için 3 kere iterate eder.

hello
hello
hello

In [ ]:
user = {
    "name" : "Daniel",    
    "surname" : "Smith",  # for dan sonra 2 ve daha fazla değişken de kullanabiliriz. 
    "age" : 35
}  
for key, value in user.items() :   # HATIRLATMA! user items sayesinde (name, Daniel), (surname, Smith), (age, 35) tuple yapıyoruz. 
    print(key, ":",  value)

name : Daniel
surname : Smith
age : 35

In [ ]:
test = [(1, 2), (3, 4), (5, 6)]
for i, j in test : 
    print(i, j)

1 2
3 4
5 6

In [ ]:
test2 = [(1, 2, 11), (3, 4, 22), (5, 6, 33)]
for i, j, t in test2 : 
    print(i, j, t)

1 2 11
3 4 22
5 6 33

In [ ]:
test2 = [(1, 2, 11), (3, 4, 22), (5, 6, 33)]
for i in test2 : 
    print(i)

(1, 2, 11)
(3, 4, 22)
(5, 6, 33)

In [ ]:
times = int(input("How many times should I say 'I love You'"))
for i in range(times) :  # Burada ki range fonksiyonu ile sayı dizisi üretiyoruz ve itarable'a dönüştürüyoruz. Yani range fonksiyonu iterable dır. 
    print("I love you")

I love you
I love you
I love you
I love you
I love you

In [ ]:
number = input("Please enter a number between 1 and 10")

for i in range(11) :  # Eğer içinde sadece bir adet sayı var ise zaten 0'dan başlayıp o sayıya kadar demek. 
    print(number, "x", i, "=", (int(number)*i))

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
range(start, stop, step)

In [ ]:
print(* range(10,1,-1))

10 9 8 7 6 5 4 3 2

In [ ]:
print(* range(1, 10))

1 2 3 4 5 6 7 8 9

In [ ]:
print(* "joseph")

j o s e p h

In [ ]:
for i in range(1,10) :
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
tuple(range(11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
set(range(11))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
print(* range(11))

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
print(range(11))  # Bizim doğrudan range object'ini çıktı almaya çalışmamız söz konusu değil.

range(0, 11)

In [ ]:
print(*range(5, 25, 2))

5 7 9 11 13 15 17 19 21 23

In [ ]:
text = ["one", "two", "three", "four", "five"]
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers) :  # Her bir elemanı indeks numaralarına göre karşılıklı olarak eşleştirir. 
    print(x, ":", y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [ ]:
text = ["one", "two", "three", "four", "five"]
numbers = [1, 2, 3, 4, 5]
zipped = zip(text, numbers)
zipped  # Memory'deki lokasyonu, adresi gösterir. Bunu görsel olarak alabilmemiz için collection functions, * ya da for döngülerini kullanabiliriz.

In [ ]:
print(* zipped)

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [ ]:
list(zipped)  # Boş çıktı vermesi zip fonksiyonuna özeldir, bir üstte çalıştığı için içi boş çıktı. İçini yeniden doldurup yeniden çalıştırırsak olur.

[]

In [ ]:
zipped = zip(text, numbers)  # Yeniden doldurduk ve çalıştırdık. 
list(zipped)

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [ ]:
zipped = zip(text, numbers)
for x, y in zipped :
    print(x, ":", y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [ ]:
zipped = zip(text, numbers)  # ÖNEMLİ!!! zip fonksiyonunu dictionary için kullanabiliriz. Dict metodunda da çift olarak yapıyoruz çünkü. 
dict(zipped)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

zip fonksiyonu 2, 3, 4 ... gibi istediği kadar eleman alabilir ve eşleştirebilir.

In [ ]:
a = (1, 2, 3)  # Dikkat etmemiz gereken bir durum. Eleman sayıları birbiri ile uyuşmuyor ise uyuştuğu kadarını da çıktı verir. 3 açıkta kaldı eşi yok. 
b = (1, 4)
print(* zip(a, b))

(1, 1) (2, 4)

In [ ]:
a = (1, 2, 3)   # Biri list diğeri tuple bile olsa yine de eşleştirir ve () içinde sonuç çıkarır. 
b = [1, 4, 9]
print(* zip(a, b))

(1, 1) (2, 4) (3, 9)

In [ ]:
a = {1, 2, 3}   # Biri list diğeri tuple ya da her ikisi de farklı da olsa yine de eşleştirir ve () içinde sonuç çıkarır. 
b = [1, 4, 9]
print(* zip(a, b))

(1, 1) (2, 4) (3, 9)

In [ ]:
# Kendi çözümüm. Çok dolandırdım ama mantık aynı. 

numbers = list(range(10))
numbers_half_len = len(numbers) / 2
empty_list_even = []
empty_list_odd = []
for i in range(10) :
    if numbers[i] % 2 == 0 : 
        empty_list_even.append(i)
        if len(empty_list_even) == numbers_half_len :
            print("evens:", empty_list_even)
        
    else :
        empty_list_odd.append(i)
        if len(empty_list_odd) == numbers_half_len :
            print("odds:", empty_list_odd)

evens: [0, 2, 4, 6, 8]
odds: [1, 3, 5, 7, 9]

In [ ]:
# Hocanın çözümü 

evens = []
odds = []

for i in range(10) :
    if i % 2 == 0 :
        evens.append(i)
    else : 
        odds.append(i)
print("evens:", evens)
print("odds:", odds)

evens: [0, 2, 4, 6, 8]
odds: [1, 3, 5, 7, 9]

In [ ]:
# Kendi çözümüm

example_list = [11, 2, 24, 61, 48, 33, 3]
evens = []
odds = []

for i in example_list : 
    if i % 2 == 0 :
        evens.append(i)
    else : 
        odds.append(i)
print("The number of even numbers :", len(evens))
print("The number of odd numbers :", len(odds))

The number of even numbers : 3
The number of odd numbers : 4

In [ ]:
# Hocanın çözümü (saydırarak yaptı)

example_list = [11, 2, 24, 61, 48, 33, 3]
evens = 0
odds = 0

for i in example_list : 
    if i % 2 == 0 :
        evens += 1  # Bu saydırma metodudur, eğer bu şartı sağlıyor ise her seferinde 1 arttır demek. O yüzden yukarıda 0 değerini girdik. 
    else : 
        odds += 1
print("The number of even numbers :", evens)
print("The number of odd numbers :", odds)

The number of even numbers : 3
The number of odd numbers : 4

In [ ]:
# Kendi çözümüm

empty_list = []
for i in range(1, 75) :
    empty_list.append(i)
sum(empty_list)

2775

In [ ]:
# Hocanın çözümü 
sum_num = 0
for i in range(1,75) : 
    sum_num += i
print(sum_num)

2775

Nested for Loop

In [ ]:
for variable1 in iterable1 : 
    for variable2 in iterable2 :
        body

In [ ]:
who = ["I am", "You are"]
mood = ["happy", "confident"]
for i in who :
    for ii in mood : 
        print(i, ii)

I am happy
I am confident
You are happy
You are confident

In [ ]:
names = ["susan", "tom", "edward"]
mood = ["happy", "sad"]
for i in names :
    for ii in mood : 
        print(i, "is", ii)  # print(f"{i} is {ii}") ya da print("{} is {}".format(i, ii)) olabilirdi çıktı için.

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [ ]:
# tuple kullanarak atama yapabiliriz 

tuple(range(1, 8))

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
mon, tue, wed, thu, fri, sat, sun = tuple(range(1,8))

In [ ]:
mon

1

In [ ]:
fri

5

In [ ]:
# İki listenin toplanması. Bunu çok kullanırız. İçlerindeki verinin değeri farklı olsa da oluyor. 

[1, 2, 4] + ["ali", "veli"]

[1, 2, 4, 'ali', 'veli']

In [ ]:
a, b = (10, 20, 30, 40)  # variable ile value sayıları uyuşmadığı için haya verir. Bunu hatasız bir şekilde yapabilmemiz için.

ValueError: too many values to unpack (expected 2)

In [ ]:
a, _, b, _ = (10, 20, 30, 40)  # Bu şekilde yaparak istediğimiz noktaya atamamızı yaptık. 
print(a, b)

10 30

In [ ]:
x, y, z = (11, 22, 33, 44, 55)

ValueError: too many values to unpack (expected 3)

In [ ]:
x, y, *z = (11, 22, 33, 44, 55)  # z'nin başındaki yıldız sayesinde geri kalan son 3 değeri de z'ye atadık. 
print(x, y, z)

11 22 [33, 44, 55]

In [ ]:
x, y, *_ = (11, 22, 33, 44, 55)
print(x, y)

11 22

In [ ]:
x, y, *z, t = (11, 22, 33, 44, 55, 66, 77)
print(x, y, z, t, sep="\n")

11
22
[33, 44, 55, 66]
77

In [ ]:
x, y, *_, t = (11, 22, 33, 44, 55, 66, 77)
print(x, y, t, sep="\n")

11
22
77