<h1><p style="text-align: center; color:darkblue">PYTHON DERS NOTLARI </p><h1>
<h1><p style="text-align: center; color:darkblue">9. DERS (10.02.2022) </p><h1>

## Collection Types
___

* Dictionary
* Dictionary in a Dictionary
___

In [2]:
dict_1 = {"a" : "1",
          "b" : "2",
          "c" : "3",
          "d" : "4"}
print(dict_1.items())
print(dict_1.keys())
print(dict_1.values())

dict_items([('a', '1'), ('b', '2'), ('c', '3'), ('d', '4')])
dict_keys(['a', 'b', 'c', 'd'])
dict_values(['1', '2', '3', '4'])

In [19]:
list(dict_1.items())

[('a', '1'), ('b', '2'), ('c', '3'), ('d', 4)]

In [17]:
items = list(dict_1.items())
x, y = items[0]
print(x)
print(y)

a
1

In [20]:
tuple(dict_1.keys())

('a', 'b', 'c', 'd')

In [21]:
set(dict_1.values())

{'1', '2', '3', 4}

In [23]:
family = {"name1" : "Murat",
          "name2" : "Büşra",
          "name3" : "Meryem",
          "name4" : "Yusuf"} 
family

{'name1': 'Murat', 'name2': 'Büşra', 'name3': 'Meryem', 'name4': 'Yusuf'}

In [24]:
list(family.items())

[('name1', 'Murat'),
 ('name2', 'Büşra'),
 ('name3', 'Meryem'),
 ('name4', 'Yusuf')]

In [25]:
list(family.keys())

['name1', 'name2', 'name3', 'name4']

In [26]:
list(family.values())

['Murat', 'Büşra', 'Meryem', 'Yusuf']

In [28]:
family["name5"] = "Nur"
family

{'name1': 'Murat',
 'name2': 'Büşra',
 'name3': 'Meryem',
 'name4': 'Yusuf',
 'name5': 'Nur'}

In [36]:
family.update({"name6" : "Azize"})
family

{'name1': 'Murat',
 'name2': 'Büşra',
 'name3': 'Mary',
 'name4': 'Yusuf',
 'name5': 'Nur',
 'name6': 'Azize'}

In [76]:
family.update({"name3" : "Mary"}) #update metodunun içine dictionary yolluyoruz
family

{'name1': 'Murat', 'name2': 'Büşra', 'name3': 'Mary', 'name4': 'Yusuf'}

In [77]:
family["name5"] = "Betül"
family

{'name1': 'Murat',
 'name2': 'Büşra',
 'name3': 'Mary',
 'name4': 'Yusuf',
 'name5': 'Betül'}

### del

In [78]:
del family["name5"], family["name4"]
family

{'name1': 'Murat', 'name2': 'Büşra', 'name3': 'Mary'}

### in, not in

In [50]:
#Boolean sonuç verir

a = "Python"
"y" in "Python"

True

### .split

In [55]:
örnek = "p y t h o n".split() #liste yapma yöntemi

In [56]:
örnek

['p', 'y', 't', 'h', 'o', 'n']

In [57]:
örnek_1 = "a-b-c".split("-") # "-" tirelerden böl
örnek_1

['a', 'b', 'c']

In [58]:
"p" in örnek

True

In [60]:
"d" in örnek_1

False

In [62]:
family = {"name1" : "Murat",
          "name2" : "Büşra",
          "name3" : "Meryem",
          "name4" : "Yusuf"}

In [68]:
"Murat" in family #in metodu value'ler arasından bakmaz o yüzden False verir

False

In [66]:
"name1" in family #in metodu key'ler arasından bakar

True

In [71]:
"Murat" in family.values() #in metodu value'ler arasından bu şekilde bakar

True

In [75]:
"Murat" not in family.values() #içinde yok. Doğru mu?

False

### iç içe dictionary

In [80]:
school_records={
	'personal_info':
		{'kid':{'tom':{'class':'intermediate', 'age':10},
			'sue':{'class':'elemantary', 'age':8}
			},
		'teen':{'joseph':{'class':'college', 'age':19},
			'marry':{'class':'high school', 'age':16}
			},
		},
	'grades_info':
		{'kid':{'tom':{'math':88, 'speech':69},
			'sue':{'math':90, 'speech':81}
			},
		'teen':{'joseph':{'coding':80, 'math':89},
			'marry':{'coding':70, 'math':96}
			},
		}
}

In [81]:
len(school_records) #ilk key'lerin sayısını verir

2

In [82]:
school_records["personal_info"] #bu key'in value'sini döndürür

{'kid': {'tom': {'class': 'intermediate', 'age': 10},
  'sue': {'class': 'elemantary', 'age': 8}},
 'teen': {'joseph': {'class': 'college', 'age': 19},
  'marry': {'class': 'high school', 'age': 16}}}

In [83]:
school_records["grades_info"]

{'kid': {'tom': {'math': 88, 'speech': 69}, 'sue': {'math': 90, 'speech': 81}},
 'teen': {'joseph': {'coding': 80, 'math': 89},
  'marry': {'coding': 70, 'math': 96}}}

In [84]:
type(school_records["grades_info"])

dict

In [85]:
len(school_records["grades_info"])

2

In [86]:
school_records

{'personal_info': {'kid': {'tom': {'class': 'intermediate', 'age': 10},
   'sue': {'class': 'elemantary', 'age': 8}},
  'teen': {'joseph': {'class': 'college', 'age': 19},
   'marry': {'class': 'high school', 'age': 16}}},
 'grades_info': {'kid': {'tom': {'math': 88, 'speech': 69},
   'sue': {'math': 90, 'speech': 81}},
  'teen': {'joseph': {'coding': 80, 'math': 89},
   'marry': {'coding': 70, 'math': 96}}}}

In [87]:
school_records["personal_info"]

{'kid': {'tom': {'class': 'intermediate', 'age': 10},
  'sue': {'class': 'elemantary', 'age': 8}},
 'teen': {'joseph': {'class': 'college', 'age': 19},
  'marry': {'class': 'high school', 'age': 16}}}

In [88]:
school_records["personal_info"]["kid"]

{'tom': {'class': 'intermediate', 'age': 10},
 'sue': {'class': 'elemantary', 'age': 8}}

In [90]:
school_records["personal_info"]["kid"]["tom"]

{'class': 'intermediate', 'age': 10}

In [91]:
school_records["personal_info"]["kid"]["tom"]["class"]

'intermediate'

In [93]:
list(school_records["grades_info"]["teen"]["joseph"].values())

[80, 89]

## **Assignment**
___

#### Most Frequent Number
#### En Çok Tekrar Eden Eleman

Task : Find out the most frequent number and its frequency.

Write a program that;

Finds out the most frequent number in the given list.
Calculates its frequency.
Prints out the result such as :

In [94]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]

In [95]:
max(numbers) #liste elemanlarından en büyüğünü verir

7

In [97]:
min(numbers) #elemanlardan en küçüğünü verir

0

In [98]:
numbers = (1, 3, 7, 4, 3, 0, 3, 6, 3)
max(numbers)

7

In [99]:
sequence = [1, 1, 1, 1, 2, 2, 2, 3, 3, 4]
max(sequence) #liste içerisindeki en büyük elman ne?

4

In [102]:
sequence = [1, 1, 1, 1, 2, 2, 2, 3, 3, 4]
sequence.count(4) #listedeki bu eleman kaç kere tekrar ediyor?

1

In [103]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]

In [104]:
max(numbers)

7

In [105]:
numbers.count(7)

1

In [106]:
numbers.count(max(numbers))

1

In [107]:
max(numbers, key = numbers.count)

3

## Dictionary Functions
___

* clear()	Removes all the elements from the dictionary
* copy()	Returns a copy of the dictionary
* fromkeys()	Returns a dictionary with the specified keys and value
* get()	Returns the value of the specified key
* items()	Returns a list containing a tuple for each key value pair
* keys()	Returns a list containing the dictionary's keys
* pop()	Removes the element with the specified key
* popitem()	Removes the last inserted key-value pair
* setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
* update()	Updates the dictionary with the specified key-value pairs
* values()	Returns a list of all the values in the dictionary

#### dict_1.clear
___

* tüm öğeleri siler

In [4]:
örnek = {'örn1' : 'first',
         'örn2' : 'second',
         'örn3' : 'third',
         'örn4' : 'forth'}
örnek.clear()
print(örnek)

{}

In [46]:
örnek = {'örn1' : 'first',
         'örn2' : 'second',
         'örn3' : 'third',
         'örn4' : 'forth'}
örnek.copy()
print(örnek)

{'örn1': 'first', 'örn2': 'second', 'örn3': 'third', 'örn4': 'forth'}

In [48]:
örnek = {'örn1' : 'first',
         'örn2' : 'second',
         'örn3' : 'third',
         'örn4' : 'forth'}
x = örnek
print(x)

{'örn1': 'first', 'örn2': 'second', 'örn3': 'third', 'örn4': 'forth'}

In [7]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
max(numbers)

7

In [20]:
max(numbers, key=numbers.count)

4

In [33]:
şehirler = ["ankara", "istanbul", "van", "erzurum"]
sorted(şehirler)

['ankara', 'erzurum', 'istanbul', 'van']

In [43]:
sorted(şehirler, reverse=True)

['van', 'istanbul', 'erzurum', 'ankara']

In [42]:
sorted(şehirler, key = len)

['van', 'ankara', 'erzurum', 'istanbul']

In [44]:
şehirler.sort(key=len)
şehirler

['van', 'ankara', 'erzurum', 'istanbul']